In [84]:
# Para el tratamiento de datos:
import pandas as pd
import numpy as np
from datetime import datetime
import re
import unicodedata
import os
pd.set_option('display.max_columns', None) #Para ver todas las columnas

In [2]:
dfh = pd.read_csv("Primary-data/Highest_victim_count.csv")
df5 = pd.read_csv("Primary-data/15_to_30_victim_count.csv")
df4 = pd.read_csv("Primary-data/5_to_14_victim_count.csv")
dfl = pd.read_csv("Primary-data/Lessthan_5_victim_count.csv")

# Paso 1:

## Comenzamos con un EDA inicial de los diferentes datasets

In [3]:
dfh.head()  #Mas primeras 5 filas del DataFrame (por defecto, pero puedes especificar un número).

,Name,Country,Years active,Proven victims,Possible victims,Notes
0,Luis Garavito,Colombia\r\nEcuador\r\nVenezuela,1992 to 1999,138,172–300+,"Child-murderer, torture-killer, and rapist kno..."
1,Pedro López,Colombia\r\nPeru\r\nEcuador,1969 to 1979,110,300+,"Child-murderer and rapist, known as ""The Monst..."
2,Javed Iqbal,Pakistan,1998 to 1999,100,100,"Child-murderer and rapist, known as ""Kukri"", I..."
3,Mikhail Popkov,Russia,1992 to 2010,83,83+,"Serial rapist-killer nicknamed ""The Werewolf"",..."
4,Daniel Camargo Barbosa,Colombia\r\nEcuador\r\nBrazil (alleged),1974 to 1986,72,180,"Child and woman murderer, believed to have pos..."

In [4]:
dfh.tail()  #Las últimas 5 filas del DataFrame (por defecto, pero puedes especificar un número).

,Name,Country,Years active,Proven victims,Possible victims,Notes
29,Ali Asghar Borujerdi,Ottoman Empire\r\n Iraq\r\n Iran,1907 to 1934,33,33,"Known as ""Asghar the Murderer"". Killed 33 youn..."
30,Vasili Komaroff,Soviet Union,1921 to 1923,33,33,"Known as ""The Wolf of Moscow""; horse trader wh..."
31,Fernando Hernández Leyva,Mexico,1982 to 1999,33,100+,Confessed to 100 murders and six kidnappings a...
32,Ramadan Abdel Rehim Mansour,Egypt,1999 to 2006,32,32+,"Gang leader known as al-Tourbini (""The Express..."
33,Radik Tagirov,Russia,2011 to 2012,32,32,Serial killer called Radik Tagirov who murdere...

In [5]:
dfh.sample()  #Una fila aleatoria del DataFrame (puedes especificar cuántas filas con `n`).

,Name,Country,Years active,Proven victims,Possible victims,Notes
22,Serhiy Tkach,Soviet Union\r\nUkraine,1984 to 2005,36,80–100,A former Ukrainian police criminal investigato...

In [6]:
dfh.columns  #Los nombres de las columnas.

Index(['Name', 'Country', 'Years active', 'Proven victims', 'Possible victims',
       'Notes'],
      dtype='object')

In [7]:
dfh.shape #Una tupla con el número de filas y columnas del DataFrame (filas, columnas).

(34, 6)

In [8]:
dfh.info()  #Info del DataFrame: número de filas, columnas y tipos de datos.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              34 non-null     object
 1   Country           34 non-null     object
 2   Years active      34 non-null     object
 3   Proven victims    34 non-null     int64
 4   Possible victims  34 non-null     object
 5   Notes             34 non-null     object
dtypes: int64(1), object(5)
memory usage: 1.7+ KB

In [9]:
dfh.dtypes #Tipo de datos de cada columna.

Name                object
Country             object
Years active        object
Proven victims       int64
Possible victims    object
Notes               object
dtype: object

In [10]:
dfh.describe().T #Suma, media, desviación estandar, mínimo/máximo y percentiles (valores numéricos).

                count       mean        std   min    25%   50%   75%    max
Proven victims   34.0  52.764706  24.601132  32.0  35.25  46.5  59.5  138.0

In [11]:
dfh.describe(include = 'object') #Suma, valores únicos... de tipo object.

,Name,Country,Years active,Possible victims,Notes
count,34,34,34,34,34
unique,34,20,34,32,34
top,Luis Garavito,United States,1992 to 1999,33,"Child-murderer, torture-killer, and rapist kno..."
freq,1,5,1,2,1

In [12]:
#Bucle con el que extraemos datos relevantes de cada columna:
columnas = dfh.columns

for col in columnas:
    print(f"\n🔹'{col}'\n")
    print(f"Tipo de dato: {dfh[col].dtypes}\n")
    print(f"Porcentaje de nulos: {dfh[col].isnull().sum()/dfh.shape[0]*100}\n")
    print(f"Suma de duplicados: {dfh[col].duplicated().sum()}\n")
    print(f"Valores únicos:")
    print(dfh[col].unique())
    print("-" * 100)

🔹'Name'

Tipo de dato: object

Porcentaje de nulos: 0.0

Suma de duplicados: 0

Valores únicos:
['Luis Garavito' 'Pedro López' 'Javed Iqbal' 'Mikhail Popkov'
 'Daniel Camargo Barbosa' 'Pedro Rodrigues Filho' 'Kampatimar Shankariya'
 'Yang Xinhai' 'Samuel Little' 'Giuseppe Greco' 'Andrei Chikatilo'
 'Anatoly Onoprienko' 'Ivan Maleshoff' 'Florisvaldo de Oliveira'
 'Willy Pickton' 'Gary Ridgway' 'Alexander Pichushkin' 'Wang Qiang'
 'Ahmad Suradji' 'Raman Raghav' 'Tiago Henrique Gomes da Rocha'
 'Moses Sithole' 'Serhiy Tkach' 'Gennady Mikhasevich'
 'Hadj Mohammed Mesfewi' 'Vera Renczi' 'Ted Bundy' 'Clementine Barnabet'
 'John Wayne Gacy' 'Ali Asghar Borujerdi' 'Vasili Komaroff'
 'Fernando Hernández Leyva' 'Ramadan Abdel Rehim Mansour' 'Radik Tagirov']
----------------------------------------------------------------------------------------------------

🔹'Country'

Tipo de dato: object

Porcentaje de nulos: 0.0

Suma de duplicados: 14

Valores únicos:
['Colombia\r\nEcuador\r\nVenezuela' 'Colombia\r\nPeru\r\nEcuador'
 'Pakistan' 'Russia' 'Colombia\r\nEcuador\r\nBrazil (alleged)' 'Brazil'
 'India' 'China' 'United States' 'Italy' 'Soviet Union'
 'Soviet Union\r\nUkraine' 'Canada' 'Indonesia' 'South Africa' 'Morocco'
 'Kingdom of Romania\r\nYugoslavia\r\nHungary (alleged)'
 'Ottoman Empire\r\n Iraq\r\n Iran' 'Mexico' 'Egypt']
----------------------------------------------------------------------------------------------------

🔹'Years active'

Tipo de dato: object

Porcentaje de nulos: 0.0

Suma de duplicados: 0

Valores únicos:
['1992 to 1999' '1969 to 1979' '1998 to 1999' '1992 to 2010'
 '1974 to 1986' '1967 to 2003' '1977 to 1978' '2000 to 2003'
 '1970 to 2005' '1981 to 1983' '1978 to 1990' '1989 to 1996'
 '1934 to 1935' '1982' '1983 to 2002' '1982 to 2000' '1992 to 2006'
 '1995 to 2003' '1986 to 1997' '1965 to 1968' '2011 to 2014'
 '1994 to 1995' '1984 to 2005' '1971 to 1985' '1906 and earlier'
 '1920 to 1930' '1974 to 1978' '1911' '1972 to 1978' '1907 to 1934'
 '1921 to 1923' '1982 to 1999' '1999 to 2006' '2011 to 2012']
----------------------------------------------------------------------------------------------------

🔹'Proven victims'

Tipo de dato: int64

Porcentaje de nulos: 0.0

Suma de duplicados: 10

Valores únicos:
[138 110 100  83  72  71  70  67  60  58  53  52  50  49  48  45  42  41
  39  38  36  35  33  32]
----------------------------------------------------------------------------------------------------

🔹'Possible victims'

Tipo de dato: object

Porcentaje de nulos: 0.0

Suma de duplicados: 2

Valores únicos:
['172–300+' '300+' '100' '83+' '180' '100+' '70+' '67' '93' '80-300' '56'
 '52+' '50' '50+' '49' '71–90+' '60' '60+' '70–80+' '41' '~39' '76'
 '80–100' '43–55+' '36+' '~35' '36–100+' '35' '34+' '33' '32+' '32']
----------------------------------------------------------------------------------------------------

🔹'Notes'

Tipo de dato: object

Porcentaje de nulos: 0.0

Suma de duplicados: 0

Valores únicos:
['Child-murderer, torture-killer, and rapist known as "La Bestia" ("The Beast"). Confessed to killing 140 boys between eight and 16 years old over a seven-year period in Colombia and neighboring countries. He is suspected of murdering over 300 victims, mostly street children. Garavito was originally sentenced to 1,853 years in prison, but this was later reduced to 22 years after he led police to many of the bodies of his victims. He is scheduled to become eligible for parole in 2023.'
 'Child-murderer and rapist, known as "The Monster of the Andes". Targeted young girls, between the ages of eight and 12. Arrested in 1980 and convicted in 1983 of killing three young girls, but claimed to have killed hundreds. Despite being believed to be one of the most prolific serial killers of the twentieth century, he was released in the late 1990s.'
 'Child-murderer and rapist, known as "Kukri", Iqbal murdered 100 street children by strangling them and covering up his crimes by dissolving the bodies with acid. He was arrested in 1999 thanks to a letter he sent to a newspaper, and was set to be executed in the manner described by the judge who stated, "You will be strangled to death in front of the parents whose children you killed, Your body will then be cut into 100 pieces and put in acid, the same way you killed the children." However, he died in custody before he could be executed.'
 'Serial rapist-killer nicknamed "The Werewolf", who was active for two decades in Angarsk, Irkutsk and Vladivostok. After being convicted of 22 murders in 2015, he confessed to an additional 59 murders, of which he was convicted of 56 in 2018. In July 2020, Popkov confessed to more killings, bringing the total number of admitted victims to 83. Sentenced to life.'
 'Child and woman murderer, believed to have possibly raped and killed over 150 victims, primarily targeting female children as they were more likely to be virgins. Confessed to killing 72 victims. He strangled young girls in Colombia and was arrested, but he escaped from prison and he started killing in Ecuador; rearrested in 1986, he was incarcerated in the same Ecuadorian prison as 300+ serial killer Pedro López. Camargo was killed in jail by the nephew of one of his victims.'
 'He claimed to have killed over 100 victims, 47 of them inmates. He also killed his father and ate a piece of his heart. He killed his first two victims at the age of 14; he was first arrested in 1973. Convicted and sentenced to 128 years, but the maximum one can serve in Brazil is 30 years. Was released in 2018.'
 'Indian serial killer who used a hammer to kill over 70 men and women between 1978 and 1979. Was hanged in 1979, his last words were, "I have murdered in vain", he declared. "Nobody should become like me.".'
 'Known as the "Monster Killer". Would enter victims\' homes at night and kill using axes, meat cleavers, hammers, and shovels. Executed by gunshot in 2004.'
 "Was convicted of killing three women, but later investigations linked 31 other murders to him. Little is now thought to be America's most prolific serial killer. He claimed he killed as many as 93 victims total, three above his initial confession of 90, the FBI later confirmed a total of 50 murders linked to Little. The investigations into his crimes are ongoing."
 'During the Second Mafia War, from 1981 to 1983 committed dozens of murders, often with his favorite weapon, an AK-47. He was eventually convicted in absentia of 58 murders, but it is believed that he committed at least 80 murders and possibly as many as 300. Murdered in his home in 1985.'
 'Known as "The Butcher of Rostov", "The Red Ripper" or "The Rostov Ripper". Convicted of the murder of 53 women and children between 1978 and 1990. One man was previously convicted and executed for his first murder. Executed by gunshot in 1994.'
 'Known as "The Beast of Ukraine", "The Terminator" and "Citizen O". Convicted of the murders of nine people in 1989 and 43 people in 1995–1996. Traveled throughout Europe illegally from 1990 to 1995; whether he killed during this time is unknown. Sentenced to death, later commuted to imprisonment for life. Died from heart failure in 2013.'
 'Known as, "Bluebeard of Kharkiv"; Ivan Stepanovich Maleshoff was an electrical engineer and prolific albeit little known Soviet serial killer. He is purported to have killed 20 women in Kharkiv over a period of several months in 1935 with a knife, leaving behind little clues as to his identity other than taunting letters to police. Reportedly, apprehended by authorities as he attempted to kill his next victim, completely unaware he had been tailed after seen fleeing arrest by an undercover female officer earlier in the day. Prior to his execution, he confessed to an additional 30 murders in nearby Kyiv in 1934. Was convicted and executed in 1935 by firing squad at the age of 40.'
 'Known as "Cabo Bruno"; former police officer and vigilante who murdered criminals in the outskirts of São Paulo; murdered by unknown assailants in 2012.'
 'Nicknamed "The Butcher"; Robert Pickton was a Canadian serial killer who killed 49 women and disposed of their bodies by feeding them to his pigs. He was convicted of only 6 murders but charged for his proven 49 victims. Unfortunately, much to the anger of the victims families, the remaining 43 charges were stayed or dropped. Sentenced to life.'
 'Truck painter who confessed to killing 71 women. Also known as The Green River Killer. He almost exclusively targeted sex workers from Seattle. Suspected of killing over 90 victims, confessed to 71, convicted of 49. Sentenced to life without parole.'
 "Known as the Chessboard Killer. Convicted of murdering 48 victims and suspected of killing 60. Claimed to have murdered 62 people, because he did not know that two of his victims had survived; stated goal of becoming Russia's most prolific serial killer. Sentenced to imprisonment for life."
 'Killed 45 and raped 10 from 1995 to 2003. Executed by firing squad in 2005.'
 'Convicted of strangling at least 42 women and girls in a series of ritual slayings he believed would give him magical powers. Executed by firing squad in 2008.'
 'In the late 1960s Raman Raghav went on a violent rampage in Mumbai, India. He bludgeoned 41 people to death inside their huts while they slept. Died of kidney failure in 1995.'
 'Brazilian security guard who confessed to the murders of 39 people. Attempted suicide in prison. Sentenced to 25 years.'
 "Known as South Africa's Ted Bundy. Preyed on unemployed women, posing as a businessman and luring his victims with the prospects of a job, before leading them to an isolated place, where he raped, tortured, and murdered them. Sentenced to 2410 years imprisonment with a non-parole period of 930 years."
 'A former Ukrainian police criminal investigator, suffocated girls aged between eight and 18 and performed sexual acts on their bodies after they were dead. Claims to have killed 100. Sentenced to imprisonment for life. Died from heart failure in 2018.'
 'Strangled women. Besides killing, he also robbed his victims of money and valuable items (that he would sometimes give to his wife as a gift). Executed by firing squad in 1987.'
 'Known as "Marrakesh Arch-Killer"; drugged, mutilated and murdered women; executed by immurement (walling) 1906.'
 'Romanian serial killer nicknamed, "The Black Widow" convicted of killing 35 men through arsenic poisoning but confessed to only killing 32 victims. Renczi is one of the world\'s most prolific female serial killers. However, there is very little information about Renczi and her crimes because personal information (criminal history, academic records, etc.) were not cataloged as well as they are today, making some criminologists believe she was a figure of Romanian folklore rather than an actual person.'
 'American serial killer known for his charisma and good looks. Bundy officially confessed to 30 homicides, but had confessed to killing 35–36 women in the past, and some estimates run upwards of 100 or more. Infamous for escaping from prison twice and murdering multiple victims in one day; sometimes abducting women from the same location within hours of one another. He was executed by electric chair in 1989.'
 'An axe murdering voodoo priestess who murdered African-American families at nighttime. Was released in 1923.'
 'Known to have murdered a minimum of 33 teenage boys and young men between 1972 and 1978, 26 of whom he buried in the crawl space of his Chicago home. Gacy was known as the "Killer Clown" due to the fact he often entertained children at social events dressed in a self devised clown costume. Executed by lethal injection in 1994.'
 'Known as "Asghar the Murderer". Killed 33 young adults in Iraq and Iran. Executed by hanging in 1934.'
 'Known as "The Wolf of Moscow"; horse trader who killed 33 men. Executed by firing squad in 1923.'
 "Confessed to 100 murders and six kidnappings at the time of his arrest in 1999 (he had been arrested previously in 1982 and 1986, the second time for murder, but escaped from prison), but later retracted and claimed that he had been beaten by the police and his family threatened in order to force him to confess. Accused of as many as 137 murders in five southern Mexican states, convicted of 33 murders and sentenced 50 years in prison. Tried unsuccessfully to kill himself in prison. If his claim of 100+ victims were true then Leyva would be Mexico's most prolific documented serial killer."
 'Gang leader known as al-Tourbini ("The Express Train"). Raped and tortured homeless children, mostly boys aged 10 to 14 years old, aboard the trains between Cairo, Alexandria, Qalyubia and Beni Sueif. The victims were usually thrown off the moving train when they were dead or in agony; other times they were thrown into the Nile or buried alive. Executed in 2010.'
 'Serial killer called Radik Tagirov who murdered elderly women in several Russian regions; Kazakhstani native Pavel Shayakhmetov, found guilty of killing two elderly women in Samara, was arrested on suspicion of committing these murders [46]']
----------------------------------------------------------------------------------------------------

In [13]:
df5.head()  #Mas primeras 5 filas del DataFrame (por defecto, pero puedes especificar un número).

,Name,Country,Years active,Proven victims,Possible victims,Notes
0,Karl Denke,Germany,1900 to 1924,30,42+,Killed and cannibalized poor travelers and hom...
1,Francisco das Chagas Rodrigues de Brito,Brazil,1989 to 2003,30,42,"Pedophile who sexually abused, murdered and mu..."
2,Luis Gregorio Ramírez Maestre,Colombia,2010 to 2013,30,30,Killed motorists in various municipalities bef...
3,David Thabo Simelane,Swaziland,2000 to 2001,28,45,Sexually assaulted women he befriended in fore...
4,Zhang Jun,China,1993 to 2000,28,28,"Robbed 22 stores in several Chinese provinces,..."

In [14]:
df5.tail()  #Las últimas 5 filas del DataFrame (por defecto, pero puedes especificar un número).

,Name,Country,Years active,Proven victims,Possible victims,Notes
73,Elifasi Msomi,South Africa,1950s to 1956,15,15,Killed his victims with an axe or a knife in t...
74,Florencio Fernández,Argentina,1950s,15,15,"Stalked his victims, then would beat and bite ..."
75,Bai Baoshan,China,1983 to 1997,15,15,Robber who killed 15 people while robbing seve...
76,Maurizio Minghella,Italy,1978 to 2001,15,15,Killed five prostitutes; imprisoned and releas...
77,Alexander Labutkin,Soviet Union,1933 to 1935,15,15,"Known as the ""One-Armed Bandit""; killed people..."

In [15]:
df5.sample()  #Una fila aleatoria del DataFrame (puedes especificar cuántas filas con `n`).

,Name,Country,Years active,Proven victims,Possible victims,Notes
44,Asande Baninzi,South Africa,2001,18,18,"Killed 18 people in three months, including a ..."

In [16]:
df5.columns  #Los nombres de las columnas.

Index(['Name', 'Country', 'Years active', 'Proven victims', 'Possible victims',
       'Notes'],
      dtype='object')

In [17]:
df5.shape #Una tupla con el número de filas y columnas del DataFrame (filas, columnas).

(78, 6)

In [18]:
df5.info()  #Info del DataFrame: número de filas, columnas y tipos de datos.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              78 non-null     object
 1   Country           78 non-null     object
 2   Years active      78 non-null     object
 3   Proven victims    78 non-null     int64
 4   Possible victims  76 non-null     object
 5   Notes             78 non-null     object
dtypes: int64(1), object(5)
memory usage: 3.8+ KB

In [19]:
df5.dtypes #Tipo de datos de cada columna.

Name                object
Country             object
Years active        object
Proven victims       int64
Possible victims    object
Notes               object
dtype: object

In [20]:
df5.describe().T #Suma, media, desviación estandar, mínimo/máximo y percentiles (valores numéricos).

                count       mean       std   min   25%   50%   75%   max
Proven victims   78.0  19.294872  4.099759  15.0  16.0  18.0  21.0  30.0

In [21]:
df5.describe(include = 'object') #Suma, valores únicos... de tipo object.

,Name,Country,Years active,Possible victims,Notes
count,78,78,78,76,78
unique,78,35,72,37,78
top,Karl Denke,United States,2005 to 2006,16,Killed and cannibalized poor travelers and hom...
freq,1,15,2,8,1

In [23]:
#Bucle con el que extraemos datos relevantes de cada columna:
columnas = df5.columns


for col in columnas:
    print(f"\n🔹'{col}'\n")
    print(f"Tipo de dato: {df5[col].dtypes}\n")
    print(f"Porcentaje de nulos: {df5[col].isnull().sum()/df5.shape[0]*100}\n")
    print(f"Suma de duplicados: {df5[col].duplicated().sum()}\n")
    print(f"Valores únicos:")
    print(df5[col].unique())
    print("-" * 100)

🔹'Name'

Tipo de dato: object

Porcentaje de nulos: 0.0

Suma de duplicados: 0

Valores únicos:
['Karl Denke' 'Francisco das Chagas Rodrigues de Brito'
 'Luis Gregorio Ramírez Maestre' 'David Thabo Simelane' 'Zhang Jun'
 'Cedric Maake' 'Mariam Soulakiotis' 'Bruce George Peter Lee'
 'The Stoneman' 'Juan Corona' 'Fritz Haarmann' 'Béla Kiss'
 'Majid Salek Mohammadi' 'Yvan Keller' 'Ronald Dominique'
 'Juan Fernando Hermosa' 'Earle Nelson' 'Mikhail Novosyolov'
 'Manuel Octavio Bermúdez' 'Patrick Kearney' 'William Bonin'
 'Vasile Tcaciuc' 'Yoo Young-chul' 'Francisco Guerrero Pérez'
 'Abdullah Shah' 'José Paz Bezerra' 'Bulelani Mabhayi' 'Mohan Kumar'
 'Alexander Spesivtsev' 'Larry Eyler' 'Surinder Koli' 'El Psicópata'
 'Sergei Ryakhovsky' 'Yevgeny Chuplinsky' 'M. Jaishankar' 'Ansis Kaupēns'
 'Vadim Ershov' 'Velaphi Ndlangamandla' 'Yavuz Yapıcıoğlu'
 'Paul John Knowles' 'Thierry Paulin' 'Randall Woodfield' 'Umesh Reddy'
 'Christopher Mhlengwa Zikode' 'Asande Baninzi' 'Huang Yong'
 'Pedro Pablo Nakada Ludeña' 'Darbara Singh' 'Sergei Dovzhenko'
 'Donato Bilancia' 'Irina Gaidamachuk' 'Randy Steven Kraft'
 'Mohammed Bijeh' 'Michel Fourniret' 'Sipho Agmatir Thwala' 'Saeed Hanaei'
 'Jeffrey Dahmer' 'José Antonio Rodríguez Vega' 'Elias Xitavhudzi'
 'Jimmy Maketta' 'Jack Mogale' 'Robert Lee Yates' 'Carroll Cole'
 'Charles Ray Hatcher' 'Yuri Ivanov' 'Vladimir Mirgorod' 'Lee Choon-jae'
 'Dorángel Vargas' 'Ravinder Kumar' 'Atlanta Ripper' 'Robert Hansen'
 'Ángel Maturino Reséndiz' 'Chester Turner' 'Elifasi Msomi'
 'Florencio Fernández' 'Bai Baoshan' 'Maurizio Minghella'
 'Alexander Labutkin']
----------------------------------------------------------------------------------------------------

🔹'Country'

Tipo de dato: object

Porcentaje de nulos: 0.0

Suma de duplicados: 43

Valores únicos:
['Germany' 'Brazil' 'Colombia' 'Swaziland' 'China' 'South Africa' 'Greece'
 'United Kingdom' 'India' 'United States' 'Austria-Hungary' 'Iran'
 'France\r\nGermany (suspected)\r\nSwitzerland (suspected)' 'Ecuador'
 'United States\r\nCanada' 'Soviet Union\r\nRussia\r\nTajikistan'
 'Romania' 'South Korea' 'Mexico' 'Afghanistan' 'Russia' 'Costa Rica'
 'Soviet Union\r\nRussia' 'Latvia' 'Turkey' 'France' 'Peru' 'Ukraine'
 'Italy' 'France\r\nBelgium' 'Spain' 'Soviet Union' 'Venezuela'
 'United States\r\nMexico' 'Argentina']
----------------------------------------------------------------------------------------------------

🔹'Years active'

Tipo de dato: object

Porcentaje de nulos: 0.0

Suma de duplicados: 6

Valores únicos:
['1900 to 1924' '1989 to 2003' '2010 to 2013' '2000 to 2001'
 '1993 to 2000' '1996 to 1997' '1939 to 1951' '1973 to 1979'
 '1985 to 1989' '1971' '1918 to 1924' '1912 to 1916' '1981 to 1985'
 '1989 to 2006' '1997 to 2006' '1991 to 1992' '1926 to 1927'
 '1977 to 1995' '1999 to 2003' '1965 to 1977' '1979 to 1980'
 '1917 to 1935' '2003 to 2004' '1880 to 1908' '1990s' '1960s to 1970s'
 '2007 to 2012' '2005 to 2009' '1991 to 1996' '1982 to 1984'
 '2005 to 2006' '1986 to 1996' '1988 to 1993' '1998 to 2006'
 '2008 to 2011' '1920 to 1926' '1992 to 1995' '1998' '1994 to 2002' '1974'
 '1984 to 1987' '1979 to 1981' '1996 to 2002' '1994 to 1995' '2001'
 '2001 to 2003' '2004' '1992 to 2002' '1997 to 1998' '2002 to 2010'
 '1971 to 1983' '1987 to 2001' '1978 to 1991' '1987 to 1988' '1950s'
 '2005' '2008 to 2009' '1975 to 1998' '1948 to 1980' '1969 to 1982'
 '1974 to 1987' '1986 to 1994' '1997 to 1999' '2008 to 2015' '1911'
 '1980 to 1983' '1986 to 1999' '1987 to 1998' '1950s to 1956'
 '1983 to 1997' '1978 to 2001' '1933 to 1935']
----------------------------------------------------------------------------------------------------

🔹'Proven victims'

Tipo de dato: int64

Porcentaje de nulos: 0.0

Suma de duplicados: 63

Valores únicos:
[30 28 27 26 25 24 23 22 21 20 19 18 17 16 15]
----------------------------------------------------------------------------------------------------

🔹'Possible victims'

Tipo de dato: object

Porcentaje de nulos: 2.564102564102564

Suma de duplicados: 40

Valores únicos:
['42+' '42' '30' '45' '28' '35+' '27+' '26' '25+' '24+' '24' '150' '23+'
 '23' '25' '22' '50+' '43+' '36+' '26+' '21' '20+' '20' '82+' '30+' '19+'
 '19' '40+' '44' '18+' '18' '17' '65–67' '16+' '16' nan '15+' '15']
----------------------------------------------------------------------------------------------------

🔹'Notes'

Tipo de dato: object

Porcentaje de nulos: 0.0

Suma de duplicados: 0

Valores únicos:
['Killed and cannibalized poor travelers and homeless vagrants. Kept a ledger recording his murders with at least 31 names in it (including Vincenz Olivier, his only surviving victim), thus confirming at least 30 victims. But due to the massive amount of human remains found in his apartment, his kill count is suspected by many to exceed 42 victims. Committed suicide by hanging himself in his holding cell before he could be tried.'
 'Pedophile who sexually abused, murdered and mutilated children in Maranhão and Pará; sentenced to 217 years imprisonment.'
 'Killed motorists in various municipalities before his 2012 capture. Was sentenced to 34 years in prison.'
 'Sexually assaulted women he befriended in forests, stabbing or strangling them afterward; sentenced to death.'
 'Robbed 22 stores in several Chinese provinces, killing 28 people in the process. Executed in 2001.'
 'Known as the "Wemmer Pan Killer" and "Hammer Killer". He killed his victims with different instruments such as guns, rocks, a knife, and a hammer. Authorities attributed the murders to two serial killers because of the inconsistent modus operandi. In some cases he killed his victims with a rock, in others he shot them, and in others he murdered tailors with a hammer. Maake was arrested after Moses Sithole was found guilty of 38 killings and sentenced to 1,340 years in prison.'
 'Known as "The Woman Rasputin"; convent abbot believed to have murdered wealthy women and children who came into her church; the true number of her victims is a matter of debate. Her trial cites that she murdered 27 and killed an additional 150 children through neglect. Was sentenced to life and died in 1954.'
 'Epileptic arsonist who killed people in the city of Hull; sentenced to life imprisonment, but was later institutionalized.'
 '12 homeless people were murdered in their sleep in Bombay between 1985 and 1987, and 13 in Calcutta in 1989—in all cases, by dropping a large rock over their head (an additional victim escaped, but could not identify the attacker). No one was ever charged with any of the murders.'
 'Corona was convicted of murdering ranch laborers and burying them in orchards. He was sentenced to 25 terms life imprisonment. Died from natural causes in 2019.'
 "Also known as the Butcher of Hanover and the Vampire of Hanover, because of his preferred method of killing by biting through his victim's throat, sometimes while sodomizing them. He would then dump the bodies in the nearby river Leine. Believed to have been responsible for the murder of 27 boys and young men, he was convicted, found guilty of 24 murders and executed by guillotine in 1925."
 'Evaded arrest and conviction after the discovery of 24 bodies hidden in large metal drums on his property in 1916. At that time he was serving in the Austro-Hungarian Army, and deserted when the military was notified of the murders by civilian authorities. His final whereabouts and fate are unknown, as is his final victim count.'
 'Killed mainly women he considered unfaithful to their husbands, sometimes the children accompanying them too; committed suicide before he could be sentenced.'
 'Known as the "Pillow Killer"; killed and robbed old women in France\'s Alsace region, but also confessed to up to 150 murders, including in Germany and Switzerland; committed suicide before trial.'
 'Louisianian serial killer, known locally as the Bayou Strangler and murdered victims in the Terrebonne Parish, Lafourche Parish, Iberville Parish and Jefferson Parish. Sentenced to eight life terms.'
 'Known as "Niño del Terror"; youth gang leader who murdered mostly taxi drivers and homosexuals in Quito; murdered on his 20th birthday by unknown assailants.'
 'Necrophiliac who primarily targeted boarding house landladies on the US West Coast during 1926; he was also known as "Gorilla Killer" or "the Dark Strangler". Captured after two murders in a small (now ghost) town in southern Manitoba. Found guilty, hanged by Canadian authorities in January 1928.'
 'Known as the "Necrophile Rebel"; killed his victims with blows from heavy objects, then had sexual intercourse with their corpses; sentenced to civil commitment.'
 'Colombian pedophile and serial killer. Known as "El Monstruo de los Cañaduzales" (The Monster of the Cane Fields). He confessed to killing 21 children in remote areas of Colombia. Sentenced to 40 years in prison.'
 'Would pick up young male hitch-hikers or young men from gay bars near Redondo Beach, California, and kill them. Sentenced to imprisonment for life.'
 'Bonin and three accomplices are known to have murdered a minimum of 21 youths aged between 12 and 19 in and around Los Angeles. As the majority of his victims were discarded alongside various southern California freeways, Bonin became known as the Freeway Killer. Convicted of 14 of the freeway murders, he was executed by lethal injection in 1996.'
 'Romanian man who lured victims and then murdered them with an axe. He was arrested in 1935 after a dog found a dead body in his house. He confessed to having committed at least 26 murders. He was shot dead by a policeman while trying to escape from prison.'
 'Used a hammer to murder mostly older victims, until his focus shifted to the decapitation and mutilation of escorts after being dumped by a girlfriend who worked in that profession. Was sentenced to death and currently incarcerated.'
 'Known as "El Chaquero"; the first captured serial killer in Mexico, who killed prostitutes in Mexico City; died in 1910 from cerebral thromboembolism and another, unspecified cause.'
 'Killed travelers on the road from Kabul to Jalalabad serving under Zardad Khan. Also killed his wife. Executed by gunshot in 2004.'
 'Known as the "Morumbi Monster"; sexually violated, tortured and then murdered at least 20 women in São Paulo and Pará; sentenced to 30 years imprisonment and later released in 2001.'
 'Known as the "Monster of Tholeni"; killed women and children in the village of Tholeni; sentenced from 25 years to life imprisonment.'
 'Lured female victims with promises of marriage and gave them cyanide, claiming they were contraceptive pills, Sentenced to death in 2013.'
 'Cannibal known as "The Novokuznetsk Monster"; admitted to 19 murders, but 82 bloody sets of clothes were found in his home, along with jewels and photographs of possibly unidentified victims. Found insane and interned in a mental hospital. His mother was sentenced to 16 years in prison for luring Spesivtsev\'s victims to their home.'
 'Known as "The Interstate Killer"; sentenced to death for the 1984 murder and dismemberment of 15-year-old Daniel Bridges. He confessed to other homicides of young men and boys in five separate states. Died of AIDS complications in 1994.'
 'Between 2005 and 2006, a domestic servant of Indian businessman Moninder Singh Pandher, Surinder Koli, kidnapped, raped, murdered, and dismembered 19 people, mostly children. Convicted and sentenced to life.'
 '("The Psychopath") Unidentified serial killer who killed 19 people with an M3 submachine gun in three Costa Rican towns, always south of the Florencio del Castillo Highway.'
 'Known as the Balashikha Ripper, he was convicted for the murders of at least 19 victims. Died from tuberculosis in 2005.'
 'Known as the "Novosibirsk Maniac"; killed prostitutes in Novosibirsk; despite extensive police search and the capture of another serial killer, he was only arrested in 2016; sentenced to life imprisonment.'
 'Accused of killing at least 19 women. Charged with 13 murders, he escaped during a trial transport. Killed eight more people in two months before he was recaptured. Sentenced to 27 years. Committed suicide by slashing his wrists with a shaving blade in prison on 27 February 2018.'
 'Army deserter who committed 30 robberies and killed 19 people; one of the most infamous Latvian criminals; executed by hanging in 1927.'
 'Known as the "Krasnoyarsk Beast"; committed 70 crimes around the Krasnoyarsk area, including 19 murders and eight attempted murders; sentenced to death, commuted to life imprisonment.'
 'Known as "The Saloon Killer"; robber who murdered people around Mpumalanga in his crime spree; sentenced to 137 years imprisonment.'
 'Killed in various cities of Turkey. 18 murders proven and accused of more than 40 by eyewitnesses and relatives. Was sentenced to 74 years in prison.'
 'Killed 18 people in various states in 1974. Claimed 35 murders. Known as the "Casanova Killer"; shot dead by FBI agents.'
 'Known as "The monster of Montmartre". Killed and robbed elderly women. Died of AIDS in 1989 in prison before trial.'
 'Known as "The I-5 Killer" and "The I-5 Bandit." Suspected of as many as 44 murders. Sentenced to imprisonment for life.'
 'Confessed to 18 rapes and murders. Sentenced to death.'
 'Known as "Donnybrook Serial Killer" murdered 18 people in Donnybrook, KwaZulu Natal from 1994 to 1995. Was given 140 years (5 life sentences).'
 'Killed 18 people in three months, including a family of four; given 19 life sentences and 189 years of imprisonment.'
 'Lured and murdered 17 teenage boys, although he is suspected of 25 murders between September 2001 and 2003. Executed by firing squad in 2003.'
 'Known as "El Apóstol de la Muerte" ("The Apostle of Death"). Convicted of 17 murders and claimed 25. Sentenced to 35 years in prison.'
 'Sexually assaulted and then murdered children of non-Punjabi immigrants; died in 2018 from an illness while serving a life sentence.'
 'Killed people because they were "mocking" him; sentenced to life imprisonment.'
 'Burglar who murdered 17 people, mainly prostitutes, between 1997 and 1998, during a six-month period. Known as the "Prostitutes Killer" and the "Liguria Monster". Sentenced to imprisonment for life.'
 'Known as "Satan in a skirt". Killed 17 elderly women between 2002 and 2010. Sentenced to 20 years in prison.'
 'Convicted of 16 counts of murder but left a cryptic "score card" referring to at least 65 victims. May have had an accomplice. Sentenced to death.'
 'Raped and killed at least 16 boys and teenagers. Nicknamed the "Tehran Desert Vampire". Was convicted and executed after being lashed in front of a crowd in 2005.'
 'Known as the Ogre or Beast of Ardennes. He was caught after a failed kidnapping in 2003. Sentenced to life and died of respiratory problems while in prison in 2021.'
 'Nicknamed the Phoenix Strangler after the area in which he committed his crimes; he raped and strangled 19 women; arrested, he was found guilty of 16 murders and sentenced to life.'
 'Confessed to luring 16 prostitutes to his home and killing them in an attempt to "cleanse" the city of Mashhad. His actions were dubbed "The Spider Murders". Executed by hanging in 2002.'
 'Dahmer ate some of his victims and kept their body parts in his freezer. Was sentenced to life imprisonment; murdered in prison in 1994.'
 'Nicknamed El Mataviejas (The Old Lady Killer), he raped and killed at least 16 elderly women, aged from 61 to 93 years old, in and around Santander, Cantabria. He went unrecognized for over a year because he moved his victims into their beds after they were killed; no autopsies were made and the deaths were attributed to natural causes. He also took trophies from his victims that he held in a particular room of his home; about 10 percent of these trophies remained unclaimed, implying the existence of other victims. He was stabbed to death by two inmates while incarcerated in 2002.'
 'Nicknamed Panga man for his use of a machete (locally known as a "panga"). He stabbed and robbed his victims between 1953 and 1959; arrested, he was executed by hanging in 1960.'
 'Pleaded guilty to and convicted of 16 murders and 19 rapes committed over the nine-month period of April to December 2005.'
 'Raped and strangled women in the Donnybrook area. Convicted of 16 murders and 19 rapes, nine kidnappings, robbery and assault.'
 'Killed prostitutes in the "Skid Row" area of E. Sprague Avenue in Spokane, Washington. Sentenced to 408 years in prison and two death sentences.'
 'Killed 16 people in California, Nevada, Texas. Executed by lethal injection in 1985.'
 'A habitual criminal, confessed to the rape and murder of over 20 young and adolescent males. Escaped from prison several times and was declared a "manipulative institutionalized sociopath". Sentenced to life; committed suicide by hanging himself in prison in 1984.'
 'Known as the "Ust-Kamenogorsk Maniac"; Kazakhstani rapist who killed girls and women who spoke negatively of men; executed 1987.'
 'Known as "The Strangler"; raped and strangle women in Moscow, also killing one of the victims\' son; sentenced to life imprisonment.'
 'Also known as the Hwaseong serial murders. Most of the victims were bound, gagged, and strangled to death with their own clothes. It sparked the largest criminal case in South Korea with two million officers mobilized and over 21,000 suspects investigated. A suspect was identified in 2019, but he could not be prosecuted due to the statute of limitations. He later confessed to killing 15 people, in addition to the murder of his sister-in-law.'
 'Homeless cannibal known as "The People Eater" (El Comegente) and "The Hannibal Lecter of the Andes". Murdered a homeless man and was institutionalized. After escaping the institution, he went on to kill ten other men and was arrested. In 2016, he and several other inmates killed three others and Vargas fed their remains to them.'
 'Serial rapist who killed children of poor families.'
 'Unidentified serial killer(s) who killed at least 15 Atlanta women in 1911, possibly as many as 21 in total.'
 'Prostitutes he kidnapped were released into the Alaskan wilderness for him to hunt down like animals. Based on discovered remains, police suspect him of six murders in addition to the 15 for which he was convicted. Sentenced to 461 years plus life. Died from unspecified health problems in 2014.'
 'Known as the "Railroad Killer" because his killings were committed near the railroad tracks he used to traverse the country. He was charged with and/or confessed to 15 murders occurring from 1986 to 1999 in Texas, Florida, Illinois, Georgia, and Kentucky. He was also suspected in a 1997 California murder case and claimed two additional killings he refused to elaborate on. Executed by lethal injection in 2006.'
 'Convicted of killing 15 people in Los Angeles in the 1980s and 1990s. Sentenced to death.'
 'Killed his victims with an axe or a knife in the 1950s; executed by hanging in 1956.'
 'Stalked his victims, then would beat and bite them while they were asleep. Died from natural causes a few years after his 1960 arrest.'
 'Robber who killed 15 people while robbing several police stations; executed by gunshot in 1998.'
 'Killed five prostitutes; imprisoned and released, after which he killed 10 more; sentenced to life imprisonment.'
 'Known as the "One-Armed Bandit"; killed people in the forest near the Prigorodny settlement using a revolver; executed 1935.']
----------------------------------------------------------------------------------------------------

In [24]:
df4.head()  #Mas primeras 5 filas del DataFrame (por defecto, pero puedes especificar un número).

,Name,Country,Years active,Proven victims,Possible victims,Notes
0,Carl Eugene Watts,United States,1974 to 1982,14,80+,Believed to have killed over 80 women in multi...
1,Philipp Tyurin,Soviet Union,1945 to 1946,14,29,"Known as the ""Leningrad Maniac"" and the ""Hellr..."
2,Zdzisław Marchwicki,Poland,1964 to 1970,14,21+,Also known as Vampire of Zagłębie. Killed 14 w...
3,Monster of Florence,Italy,1968 to 1985,14,16,Unidentified killer who shot couples in lovers...
4,Joachim Kroll,West Germany,1955 to 1976,14,NaN,"Known as the ""Ruhr Cannibal"" and ""The Duisburg..."

In [25]:
df4.tail()  #Las últimas 5 filas del DataFrame (por defecto, pero puedes especificar un número).

,Name,Country,Years active,Proven victims,Possible victims,Notes
159,Michel Peiry,Switzerland\r\nFrance\r\nUnited States\r\nYugo...,1981 to 1987,5,11,"Known as the ""Sadist of Romont""; Swiss soldier..."
160,Hubert Pilčík,Czechoslovakia,1948 to 1951,5,10+,Made money smuggling people across the Czechos...
161,Thomas Dillon,United States,1989 to 1992,5,NaN,Killed outdoorsmen in rural Ohio by sniping th...
162,Joe Metheny,United States,1976 to 1996,5,10,"Butchered his victims, then served them at BBQ..."
163,Sek Kim Wah,Singapore,30 June 1983 to 23 July 1983,5,-,"Sek Kim Wah, who was of Chinese Singaporean de..."

In [26]:
df4.sample()  #Una fila aleatoria del DataFrame (puedes especificar cuántas filas con `n`).

,Name,Country,Years active,Proven victims,Possible victims,Notes
8,Julio Pérez Silva,Chile,1998 to 2001,14,NaN,Known as The Psychopath from Alto Hospicio; ki...

In [27]:
df4.columns  #Los nombres de las columnas.

Index(['Name', 'Country', 'Years active', 'Proven victims', 'Possible victims',
       'Notes'],
      dtype='object')

In [28]:
df4.shape #Una tupla con el número de filas y columnas del DataFrame (filas, columnas).

(164, 6)

In [29]:
df4.info()  #Info del DataFrame: número de filas, columnas y tipos de datos.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              164 non-null    object
 1   Country           164 non-null    object
 2   Years active      164 non-null    object
 3   Proven victims    164 non-null    object
 4   Possible victims  98 non-null     object
 5   Notes             164 non-null    object
dtypes: object(6)
memory usage: 7.8+ KB

In [30]:
df4.dtypes #Tipo de datos de cada columna.

Name                object
Country             object
Years active        object
Proven victims      object
Possible victims    object
Notes               object
dtype: object

In [31]:
df4.describe() #Suma, media, desviación estandar, mínimo/máximo y percentiles (valores numéricos).

,Name,Country,Years active,Proven victims,Possible victims,Notes
count,164,164,164,164,98,164
unique,164,48,150,14,51,164
top,Carl Eugene Watts,United States,1984,11,11,Believed to have killed over 80 women in multi...
freq,1,61,2,24,9,1

In [32]:
df4.describe(include = 'object') #Suma, valores únicos... de tipo object.

,Name,Country,Years active,Proven victims,Possible victims,Notes
count,164,164,164,164,98,164
unique,164,48,150,14,51,164
top,Carl Eugene Watts,United States,1984,11,11,Believed to have killed over 80 women in multi...
freq,1,61,2,24,9,1

In [33]:
#Bucle con el que extraemos datos relevantes de cada columna:
columnas = df4.columns

for col in columnas:
    print(f"\n🔹'{col}'\n")
    print(f"Tipo de dato: {df4[col].dtypes}\n")
    print(f"Porcentaje de nulos: {df4[col].isnull().sum()/df4.shape[0]*100}\n")
    print(f"Suma de duplicados: {df4[col].duplicated().sum()}\n")
    print(f"Valores únicos:")
    print(df4[col].unique())
    print("-" * 100)

🔹'Name'

Tipo de dato: object

Porcentaje de nulos: 0.0

Suma de duplicados: 0

Valores únicos:
['Carl Eugene Watts' 'Philipp Tyurin' 'Zdzisław Marchwicki'
 'Monster of Florence' 'Joachim Kroll' 'Arthur Shawcross' 'The Doodler'
 'Marcelo Costa de Andrade' 'Julio Pérez Silva' 'Sergey Shipilov'
 'Abdufatto Zamanov' 'Jeong Nam-gyu' 'Amir Qayyum' 'Jake Bird'
 'Belle Gunness' 'Cleveland Torso Murderer' 'Kaspars Petrovs'
 'Richard Ramirez' 'Sleepy Hollow Killer' 'Peter Sutcliffe'
 'Francisco Antonio Laureana' 'Tamara Samsonova' 'Herbert Mullin'
 'Boston Strangler' 'Lorenzo Gilyard' 'Joseph James DeAngelo'
 'Vladimir Storozhenko' 'Vasiliy Kulik' 'Nikolai Dudin' 'Denis Pischikov'
 'Nikolay Shubin' 'Johannes Mashiane' 'Mukosi Freddy Mulaudzi'
 'Thozamile Taki' 'Rainbow Maniac' 'Naceur Damergi' 'Adolf Seefeldt'
 'Donald Henry Gaskins' 'William Suff' 'Vladimir Romanov' 'Maury Travis'
 'Dennis Nilsen' 'Kenneth Bianchi' 'Charles Sobhraj' 'Abdallah al-Hubal'
 'Nikolai Shestakov' 'Anatoly Sedykh' 'Joseph Christopher'
 '"Paraquat murders" killer' 'Enriqueta Martí' 'Herb Baumeister'
 'John Bunting' 'Sergey Golovkin' 'Juana Barraza' 'Zhang Yongming'
 'Jack Unterweger' 'Vaughn Greenwood' 'Benjamin Atkins' 'Nannie Doss'
 'Clifford Olson' 'Henri Désiré Landru' 'West Mesa Killer'
 'Anthony Sowell' 'Andre Crawford' 'Francisco García Escalero'
 'Robledo Puch' 'Adnan Çolak' 'Seisaku Nakamura' 'Very Idham Henyansyah'
 'Francisco de Assis Pereira' 'Roshu Kha' 'Gao Chengyong'
 'Marie Alexandrine Becker' 'Ruslan Khamarov' 'Yevgeny Petrov'
 'Rudolf Pleil' 'Milton Johnson' 'Long Island serial killer'
 'Daniel Lee Siebert' 'Lonnie David Franklin Jr.' 'Sergey Cherny'
 'Bobby Joe Long' 'Stewart Wilken' 'David Randitsheni' 'Edmund Kemper'
 'Dennis Rader' 'Ali Kaya' 'Robert Wagner' 'Jeanne Weber'
 'Henry Louis Wallace' 'Angelo Buono Jr.' 'Satish' 'Zhou Kehua'
 'Kang Ho-sun' 'Eduard Shemyakov' 'Oleg Kuznetsov' 'Stanislav Rogolev'
 'Volker Eckert' 'Louis van Schoor' 'Peter Kürten' 'Roger Dale Stafford'
 'Norman Afzal Simons' 'Francis Heaulme' 'Joel Rifkin' 'Dagmar Overbye'
 'Kenneth McDuff' 'Robert Joseph Silveria Jr.' 'Richard Biegenwald'
 'Alexander Bychkov' 'New Bedford Highway Killer'
 'Maryvale serial shooter' 'Viktor Fokin' 'Timothy Krajcir'
 'Edgecombe County Serial Killer' 'Eric Edgar Cooke'
 'Joseph Paul Franklin' 'Yoshio Kodaira' 'Keith Hunter Jesperson'
 'Rodney Alcala' 'Kiyotaka Katsuta' 'Pierre Chanal' 'Christopher Wilder'
 'Axeman of New Orleans' 'Vladimir Retunsky' 'Gilbert Paul Jordan'
 'Bruce McArthur' 'Elizabeth Wettlaufer' 'Nikolai Dzhumagaliev'
 'Manuel Delgado Villegas' 'Ershad Sikder' 'Ivan Milat'
 'Michael Wayne McGray' 'Kenneth Erskine' 'David Carpenter'
 'Vladimir Kuzmin' 'Tommy Recco' 'Todd Kohlhepp' 'Ohio Prostitute Killer'
 'Derrick Todd Lee' 'Tomás Maldonado Cera' 'Aileen Wuornos'
 'Nikos Metaxas' 'David Berkowitz' 'Richard Chase' 'Tommy Lynn Sells'
 'Władysław Mazurkiewicz' 'Gong Runbo' 'Cristopher Chávez Cuellar'
 'András Pándy' 'John Wayne Glover' 'Alexander Sergeychik'
 'Adrián Arroyo Gutiérrez' 'Joseph Naso' 'Terry Peder Rasmussen'
 'Richard Cottingham' 'Zodiac Killer' 'John Floyd Thomas Jr.'
 'Carl Panzram' 'Steve Wright' 'Michel Peiry' 'Hubert Pilčík'
 'Thomas Dillon' 'Joe Metheny' 'Sek Kim Wah']
----------------------------------------------------------------------------------------------------

🔹'Country'

Tipo de dato: object

Porcentaje de nulos: 0.0

Suma de duplicados: 116

Valores únicos:
['United States' 'Soviet Union' 'Poland' 'Italy' 'West Germany' 'Brazil'
 'Chile' 'Russia' 'South Korea' 'Pakistan' 'Latvia' 'South Africa'
 'United Kingdom' 'Argentina' 'Soviet Union\r\nRussia' 'Tunisia' 'Germany'
 'Thailand\r\nNepal\r\nIndia\r\nMalaysia' 'Yemen' 'Japan' 'Spain'
 'Australia' 'Mexico' 'China' 'Austria\r\nUnited States\r\nCzechoslovakia'
 'Canada' 'France' 'Turkey' 'Indonesia' 'Bangladesh' 'Belgium' 'Ukraine'
 'India' 'Soviet Union\r\nRussia\r\nUkraine'
 'East Germany\r\nGermany\r\nFrance\r\nSpain\r\nCzech Republic (suspected)\r\nItaly (suspected)'
 'German Empire\r\nGermany' 'Denmark' 'China\r\nJapan'
 'Spain\r\nFrance (claimed)\r\nItaly (claimed)' 'Canada\r\nUnited States'
 'Colombia' 'Cyprus' 'Belarus' 'Costa Rica'
 'United States\r\n Portuguese Angola'
 'Switzerland\r\nFrance\r\nUnited States\r\nYugoslavia (suspected)\r\nItaly (suspected)'
 'Czechoslovakia' 'Singapore']
----------------------------------------------------------------------------------------------------

🔹'Years active'

Tipo de dato: object

Porcentaje de nulos: 0.0

Suma de duplicados: 14

Valores únicos:
['1974 to 1982' '1945 to 1946' '1964 to 1970' '1968 to 1985'
 '1955 to 1976' '1972 to 1989' '1974 to 1975' '1991' '1998 to 2001'
 '1995 to 1999' '2002 to 2004' '2004 to 2006' '2005' '1930s to 1947'
 '1900? to 1908?' '1934 to 1938' '2003' '1984 to 1985' '1990s to 2007'
 '1975 to 1980' '1995 to 2015' '1972 to 1973' '1962 to 1964'
 '1977 to 1993' '1979 to 1986' '1978 to 1981' '1984 to 1986'
 '1987 to 2002' '2002 to 2003' '1982 to 1989' '1990 to 2006' '2007'
 '2007 to 2008' '1980s to 1988' '1908 to 1935' '1953 to 1982'
 '1986 to 1992' '1991 to 2005' '2000 to 2002' '1978 to 1983'
 '1977 to 1978' '1975 to 1976' '1990 to 1998' '1975' '1998 to 2003'
 '1980 to 1981' '1985' 'c.1900 to 1912' '1990 to 1996' '1992 to 1999'
 'late 1990s to 2006' '2008 to 2012' '1974 to 1992' '1964 to 1975'
 '1991 to 1992' '1927 to 1954' '1915 to 1919' '2003 to 2005'
 '2007 to 2009' '1993 to 1999' '1987 to 1994' '1971' '1992 to 1995'
 '1938 to 1942' '2008 and earlier' '1997 to 1998' '2008' '1998 to 2002'
 '1933 to 1936' '2000 to 2003' '1946 to 1947' '1983' '1996 to 2011'
 '1985 to 2007' '1999' '1984' '1990 to 1997' '2004 to 2008' '1964 to 1973'
 '1974 to 2004' '1997 to present' '1905 to 1908' '1990 to 1994'
 '1977 to 1979' '1995 to 1998' '2004 to 2012' '2006 to 2008'
 '1996 to 1998' '1980 to 1982' '1974 to 2006' '1986 to 1989'
 '1913 to 1930' '1974 to 1978' '1986 to 1994' '1984 to 1992'
 '1989 to 1993' '1913 to 1920' '1966 to 1992' '1981 to 1996'
 '1958 to 1983' '2009 to 2012' '1988 to 1989' '2015 to 2016'
 '1996 to 2000' '2000s' '1958 to 1963' '1977 to 1980' '1928? to 1946'
 '1990 to 1995' '1971 to 1979' '1982 to 1983' '1980 to 1988'
 '1918 to 1919' '1965 to 1987' '2010 to 2017' '2007 to 2018'
 '1980 and earlier' '1964 to 1971' '1991 to 1999' '1990s' '1980s to 2010s'
 '1986' '1979 to 1981' '1997' '1960 to 1980' '2003 to 2016' '1981 to 2004'
 '2002' '2002 to 2018' '1989 to 1990' '2016 to 2018' '1976 to 1977'
 '1980 to 1999' '1950s' '2005 to 2006' '1990s to 2015' '1986 to 1990'
 '2000 to 2006' '2014 to 2015' '1977 to 1994' '1978 to 2002'
 '1962 to 1977' '1957 to 2009' '1915 to 1929' '2006' '1981 to 1987'
 '1948 to 1951' '1989 to 1992' '1976 to 1996'
 '30 June 1983 to 23 July 1983']
----------------------------------------------------------------------------------------------------

🔹'Proven victims'

Tipo de dato: object

Porcentaje de nulos: 0.0

Suma de duplicados: 150

Valores únicos:
['14' '13' '12' '11–16' '11' '10' '9–13' '9' '8' '8–15' '8–11+' '7' '6'
 '5']
----------------------------------------------------------------------------------------------------

🔹'Possible victims'

Tipo de dato: object

Porcentaje de nulos: 40.243902439024396

Suma de duplicados: 112

Valores únicos:
['80+' '29' '21+' '16' nan '44' '40+' '38+' '20' '16+' '15' '13+' '100'
 '31–80+' '22' '17' '15–16' '13' 'Unknown' '25+' '29–49' '17–20' '25' '14'
 '11' '10+' '19+' '79' '34' '14+' '11+' '10' '160' '130+' '12+' '12'
 '50–100' '48' '43+' '23–37' '18' '7' '70?' '30' '20+' '15+' '6+' '85–100'
 '37' '17–25' '5–22' '-']
----------------------------------------------------------------------------------------------------

🔹'Notes'

Tipo de dato: object

Porcentaje de nulos: 0.0

Suma de duplicados: 0

Valores únicos:
['Believed to have killed over 80 women in multiple states, in 1982 Watts accepted a plea bargain in Texas in which he would plead guilty to a lesser charge and be granted immunity from murder charges in exchange for providing information on his victims; as a result he confessed to 12 murders and was sentenced to 60 years in prison on the lesser charge. He was sentenced to life imprisonment in separate trials in Michigan in 2004 and 2007, and died of cancer a week after the 2007 sentence was handed down.'
 'Known as the "Leningrad Maniac" and the "Hellraiser"; murdered people for monetary reasons at his hut in Leningrad; executed 1947.'
 "Also known as Vampire of Zagłębie. Killed 14 women in 1964–1970 in Poland's region of Dąbrowa Basin. Zdzisław Marchwicki was most likely the man responsible for the killings; however, his guilt remains in dispute. Executed in 1977."
 "Unidentified killer who shot couples in lovers lanes and mutilated the women, taking their sexual organs and in the last two cases, also their left breast. 69-year-old farmer Pietro Pacciani was controversially convicted of 14 crimes in 1994 and sentenced to life in prison, but he was released following allegations that the scant evidence had been planted in an attempt to close the case, which was by then the largest and most mediatic in Italy's criminal history. Pacciani was scheduled for retrial in 1998 when he died after taking medication contraindicated to his heart problems. Pacciani's two alleged accomplices, Mario Vanni and Giancarlo Lotti, were sentenced to life and 30 years in prison, respectively. Some believe that none of the accused were guilty, and that Lotti incriminated himself and the other two because he was homeless and wanted to live in prison."
 'Known as the "Ruhr Cannibal" and "The Duisburg Man-Eater"; died from a heart attack in prison in 1991.'
 'Committed arson and burglary, served two years of a five-year sentence. Within a year of his release, he raped and murdered two children in 1972. Under a plea bargain, he was sentenced to 25 years. Released after serving 141/2 years, he began killing again a year later, targeting prostitutes. Known as the "Genesee River Killer", "Genesee River Strangler", "Rochester Strangler", and "Monster of the Rivers", he strangled and battered his victims. Sentenced to life without parole. Died of cardiac arrest in 2008.'
 'Unidentified serial killer who sketched then stabbed to death 14 gay men in San Francisco. Surviving victims did not wish to testify, so the killer was not identified.'
 'Known as The Vampire of Niterói. Raped and killed 14 children in Rio de Janeiro and Niterói. Drank the blood of his victims. Found not guilty by reason of insanity.'
 'Known as The Psychopath from Alto Hospicio; killed 14 women. Sentenced to life imprisonment in 2004.'
 'Known as the "Velsk Chikatilo"; killed female hitchhikers in the town of Velsk, most of them while out on prison leave; sentenced to life imprisonment.'
 'Killed people out of personal hostility; also raped two young girls; sentenced to life imprisonment.'
 'Kidnapped, raped and murdered people; committed suicide.'
 'Known as "The brick killer". Killed 14 homeless men with rocks or bricks when they were asleep. Sentenced to death in May 2006.'
 'Sentenced to death for the murders of two people; confessed to 44 other murders; 11 were substantiated and he was suspected in the others. Executed by hanging in 1949.'
 "Norwegian-born murder-for-profit killer who murdered her suitors and relatives in Indiana. High possibility of committing over 40 murders. May have faked her own death in the fire that destroyed her home in 1908; her children had died of strychnine poisoning before the fire, and the woman's body found next to them was decapitated and, reportedly, smaller than Gunness' own. Ultimate fate unknown."
 'Unidentified serial killer, also known as "The Mad Butcher of Kingsbury Run", who targeted drifters and derelicts, of whom only two were identified, between 1934 and 1938 in Cleveland, Ohio.'
 'Confessed to strangling 38 elderly residents of Riga, Latvia, in 2003. Convicted and sentenced to life imprisonment for the robbery and murder of 13.'
 'Killed 13 people between 28 June 1984, and 24 August 1985, in Los Angeles. Known as the "Night Stalker". Ramirez was sentenced to death in 1989, and died of B-cell lymphoma in 2013 while still on death row.'
 'Raped and murdered women, mostly sex workers, around Pietermaritzburg and the Midlands of KwaZulu-Natal.'
 'Killed 13 women between 30 October 1975, and 17 November 1980. Most victims were killed by a combination of bludgeoning and stabbing, and all but two were killed in the county of Yorkshire. Owing to the modus operandi and location of the murders, Sutcliffe became known as the "Yorkshire Ripper." Sentenced to 20 concurrent life sentences. After three years he was sent to a secure psychiatric facility, where he served 25 years before being found "fit to leave" in 2009. Government officials and courts ruled in 2010 that he would never be released. In 2015, he was declared "no longer mentally ill", and transferred to a maximum security prison.'
 'Raped 15 women in San Isidro, killing 13 of them. Shot and killed during a firefight with police.'
 'Known as the "Granny Ripper"; killed and allegedly cannibalized people in her apartment; committed to a psychiatric clinic.'
 'Despite detailed confessions, prosecutors decided not to try him for the first three crimes, instead focusing on crimes that conflicted with his insanity plea. Sentenced to imprisonment for life.'
 "Although Albert DeSalvo was widely thought to be the Boston Strangler, police and others analysing the case have long doubted the truth of his confession. Sentenced to life for a series of rapes, he was murdered in prison. DeSalvo's body was exhumed for DNA testing, and compared to a substance found on the exhumed body of the Boston Strangler's last victim. In 2001, it was declared not to match, but in 2013 officials announced that improvements in DNA extraction technology produced viable samples from the degraded evidence. DeSalvo's body was reexhumed and found to match."
 'Known as "The Kansas City Strangler". Killed up to 13 prostitutes in the Kansas City area from 1977 to 1993. Sentenced to life in 2007.'
 'Top suspect in the murders committed by "Golden State Killer", "Original Night Stalker", and "East Area Rapist". Committed at least 12 murders, 50 rapes, and 120 burglaries across California in the 1970s and 1980s. He was identified and arrested in 2018 after DNA evidence confirmed it was him.'
 'Known as the "Smolensky Strangler"; tortured and murdered women for sexual pleasure; four other innocent men were initially convicted for his crimes; executed 1984.'
 'Known as the Irkutsk Monster; killed at least 13 victims from 1984 to 1986. Executed by firing squad in 1989.'
 'Known as the "Grim Maniac"; killed his father in 1987, and after release, killed 12 more people while intoxicated; sentenced to life imprisonment.'
 'Known at the "Shivering Creature"; robbed and killed elderly people around the Moscow Oblast and Vladimir Oblast; sentenced to life imprisonment.'
 'Paranoid schizophrenic who killed people who beat him in chess games; sentenced to compulsory treatment.'
 'Known as "The Beast of Atteridgeville", he was found guilty of 13 counts of murder and 12 counts of sodomy from 1982 to 1989. Committed suicide by throwing himself under a bus while being pursued by police in 1989.'
 'Known as "The Limpopo Serial Killer"; escaped convict, originally responsible for two murders, who murdered 11 more after his prison escape; given 11 life sentences.'
 'Known as the "Sugar cane serial killer", he murdered 13 women. Convicted in 2010.'
 'Unidentified serial killer who shot gay men in the head (except one, who was bludgeoned) in the Paturis Park of Carapicuiba.'
 'Raped and killed minors in the Nabeul region; executed by hanging in 1990.'
 'Known as the "Sandman"; sexually abused young boys in their sleep, then poisoned them; suspected of 100 murders in total. Executed by guillotine in 1936.'
 'Known as "The Meanest Man in America", Gaskins was convicted of nine murders committed in South Carolina between 1973 and 1975. He was suspected of 31 murders. Two victims had been murdered while Gaskins had been incarcerated—one while Gaskins had been on death row. Later claimed on death row that he had murdered between 80 and 110 victims. Executed by electric chair in 1991.'
 'Previously served 10 years of a 70-year sentence for beating his baby daughter to death. Beginning two years after his release, this county store clerk raped, stabbed, strangled, and sometimes mutilated 12 or more prostitutes in Riverside County, California. Known as the "Riverside Prostitute Killer" and the "Lake Elsinore Killer." Sentenced to death.'
 'Known as the "Kaliningrad Maniac"; pedophile who raped and murdered girls and young women in the Kaliningrad Oblast; committed suicide while imprisoned.'
 'Killed prostitutes in the St. Louis area from 2000 to 2002. Caught when he mailed an Expedia.com map showing where to find a body to a St. Louis newspaper. Committed suicide by hanging in prison.'
 'Picked up young men in London between 1978 and 1983 and dismembered them, keeping various body parts around his home. Died from surgical complications in 2018.'
 'Convicted of strangling 12 female victims aged 12 to 28 and suspected in another three cases. One of the "Hillside Stranglers". Sentenced to imprisonment for life.'
 'French con man known as "The Bikini Killer" or "The Serpent" that targeted Western tourists in vacation spots of South-east Asia, often with the help of female accomplices. Imprisoned in India from 1976 to 1997, and from 2004 serving a life sentence in Nepal.'
 'Killed seven people after a Yemeni reunion; fled prison, then proceeded to kill a young couple and three more people; killed during a shootout with police.'
 'Known as the "Luberetsky Maniac"; truck driver who raped and killed girls and young women; supposedly executed in 1977.'
 'Raped and killed women around Lipetsk, then robbed their corpses; sentenced to life imprisonment.'
 'Known as "The Midtown Slasher"; racist who killed 12 people, all but one of them African Americans, in 1980 and 1981, between upstate New York and Georgia, mutilating two of them. Sentenced to life imprisonment, died in prison age 33 of breast cancer.'
 'Unidentified serial killer who carried out a series of indiscriminate poisonings in Japan in 1985 that killed 12.'
 'Self-proclaimed witch that abducted, prostituted, murdered and made potions with the bodies of small children that she sold in Barcelona. Remains of 12 different children were identified in her home, but she is believed to have murdered more. Murdered in prison by fellow immates while awaiting trial in 1913.'
 'Strangled gay men and buried their bodies in his backyard in Indiana and Ohio; 11 men were found in the yard but only five were identified. Committed suicide by shooting himself when faced with arrest.'
 'Ringleader in the Snowtown murders (aka Bodies in the Barrels Murders); sentenced to 11 consecutive life sentences without the possibility of parole.'
 'Killed at least 11 boys in the Moscow area between 1986 and 1992. Executed by gunshot in 1996; last person executed in Russia before the death penalty was abolished.'
 'Female wrestler who bludgeoned or strangled elderly women to rob them. Sentenced to 759 years.'
 "Sold flesh of his victims as 'ostrich meat' and kept eyeballs in wine. Executed."
 'Served 14 years in Austrian prison because of a murder in 1974; killed at least nine prostitutes after his release. Was a small media star in Austrian media in the early 1990s and, on behalf of Austrian police, was arrested in the US, where he may have killed another three prostitutes. Hanged himself in 1994 after being sentenced to life in prison.'
 'Known as the "Skid Row Slasher". Killed 11 people, suspected of two more. Cut victims\' throats from ear to ear and may have drank their blood. Sentenced to imprisonment for life.'

In [34]:
dfl.head()  #Mas primeras 5 filas del DataFrame (por defecto, pero puedes especificar un número).

,Name,Country,Years active,Proven victims,Possible victims,Notes
0,Charlie Brandt,United States,1971 to 2004,4,29,Committed suicide by hanging after murdering h...
1,Robert Black,United Kingdom\r\nIreland (suspected)\r\nWest ...,1981 to 1986,4,18+,"Convicted of kidnapping, raping and murdering ..."
2,Max Gufler,Austria,1946 to 1958,4,18,"Poisoned and drowned four women, but suspected..."
3,Ernesto Picchioni,Italy,1949 and earlier,4,16,Murdered people who approached his home; died ...
4,Baekuni,Indonesia,1993 to 2010,4,14,Pedophile who raped and killed young boys; ini...

In [35]:
dfl.tail()  #Las últimas 5 filas del DataFrame (por defecto, pero puedes especificar un número).

,Name,Country,Years active,Proven victims,Possible victims,Notes
24,Leonarda Cianciulli,Italy,1939 to 1940,3,-,"Murdered three women in the town of Correggio,..."
25,Özkan Zengin,Turkey,2008,3,4,Slit the throats of three confirmed victims be...
26,Albert Fish,United States,1924 to 1932,3,9-100+,American serial killer and child rapist who co...
27,Heriberto Seda,United States,1990 to 1996,3,8+,Considered to be a copycat of the Zodiac Kille...
28,John Martin,United Kingdom,1995,3,3+,"(Birth name John Martin Scripps, alias Simon J..."

In [36]:
dfl.sample()  #Una fila aleatoria del DataFrame (puedes especificar cuántas filas con `n`).

,Name,Country,Years active,Proven victims,Possible victims,Notes
19,Stephen Griffiths,United Kingdom,2009 to 2010,3,14,"Known to have killed three prostitutes, but cl..."

In [37]:
dfl.columns  #Los nombres de las columnas.

Index(['Name', 'Country', 'Years active', 'Proven victims', 'Possible victims',
       'Notes'],
      dtype='object')

In [38]:
dfl.shape #Una tupla con el número de filas y columnas del DataFrame (filas, columnas).

(29, 6)

In [39]:
dfl.info()  #Info del DataFrame: número de filas, columnas y tipos de datos.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              29 non-null     object
 1   Country           29 non-null     object
 2   Years active      29 non-null     object
 3   Proven victims    29 non-null     int64
 4   Possible victims  29 non-null     object
 5   Notes             29 non-null     object
dtypes: int64(1), object(5)
memory usage: 1.5+ KB

In [40]:
dfl.dtypes #Tipo de datos de cada columna.

Name                object
Country             object
Years active        object
Proven victims       int64
Possible victims    object
Notes               object
dtype: object

In [41]:
dfl.describe() #Suma, media, desviación estandar, mínimo/máximo y percentiles (valores numéricos).

       Proven victims
count       29.000000
mean         3.379310
std          0.493804
min          3.000000
25%          3.000000
50%          3.000000
75%          4.000000
max          4.000000

In [42]:
dfl.describe(include = 'object') #Suma, valores únicos... de tipo object.

,Name,Country,Years active,Possible victims,Notes
count,29,29,29,29,29
unique,29,12,28,22,29
top,Charlie Brandt,United States,1985 to 1986,12,Committed suicide by hanging after murdering h...
freq,1,11,2,3,1

In [43]:
#Bucle con el que extraemos datos relevantes de cada columna:
columnas = dfl.columns

for col in columnas:
    print(f"\n🔹'{col}'\n")
    print(f"Tipo de dato: {dfl[col].dtypes}\n")
    print(f"Porcentaje de nulos: {dfl[col].isnull().sum()/dfl.shape[0]*100}\n")
    print(f"Suma de duplicados: {dfl[col].duplicated().sum()}\n")
    print(f"Valores únicos:")
    print(dfl[col].unique())
    print("-" * 100)

🔹'Name'

Tipo de dato: object

Porcentaje de nulos: 0.0

Suma de duplicados: 0

Valores únicos:
['Charlie Brandt' 'Robert Black' 'Max Gufler' 'Ernesto Picchioni'
 'Baekuni' 'Igor Chernat' 'Ricky Lee Green' 'Robert Hicks Murray'
 'Dallen Bounds' 'Stephen Port' 'Robert Maudsley' 'Sharon Kinne'
 'Ted Kaczynski' 'Robert Ben Rhoades' 'Peter Tobin' 'Pedro Padilla Flores'
 'Billy Glaze' 'Bertha Gifford' 'Bernhard Prigan' 'Stephen Griffiths'
 'Koos Hertogs' 'Chisako Kakehi' 'Dorothea Puente' 'Patrick Mackay'
 'Leonarda Cianciulli' 'Özkan Zengin' 'Albert Fish' 'Heriberto Seda'
 'John Martin']
----------------------------------------------------------------------------------------------------

🔹'Country'

Tipo de dato: object

Porcentaje de nulos: 0.0

Suma de duplicados: 17

Valores únicos:
['United States'
 'United Kingdom\r\nIreland (suspected)\r\nWest Germany (suspected)\r\nNetherlands (suspected)\r\nFrance (suspected)'
 'Austria' 'Italy' 'Indonesia' 'Soviet Union' 'United Kingdom' 'Mexico'
 'Allied-occupied Germany\r\nWest Germany' 'Netherlands' 'Japan' 'Turkey']
----------------------------------------------------------------------------------------------------

🔹'Years active'

Tipo de dato: object

Porcentaje de nulos: 0.0

Suma de duplicados: 1

Valores únicos:
['1971 to 2004' '1981 to 1986' '1946 to 1958' '1949 and earlier'
 '1993 to 2010' '1985 to 1986' '1912 and earlier' '1999' '2014 to 2015'
 '1974 to 1978' '1960 to 1964' '1978 to 1996' '1989 to 1990'
 '1991 to 2006' '1986' '1986 to 1987' '1909 to 1928' '1947 to 1952'
 '2009 to 2010' '1979 to 1980' '2007 to 2013' '1982 to 1988'
 '1973 to 1975' '1939 to 1940' '2008' '1924 to 1932' '1990 to 1996' '1995']
----------------------------------------------------------------------------------------------------

🔹'Proven victims'

Tipo de dato: int64

Porcentaje de nulos: 0.0

Suma de duplicados: 27

Valores únicos:
[4 3]
----------------------------------------------------------------------------------------------------

🔹'Possible victims'

Tipo de dato: object

Porcentaje de nulos: 0.0

Suma de duplicados: 7

Valores únicos:
['29' '18+' '18' '16' '14' '13' '12' '11+' '4+' '4' '3' '50+' '48' '30'
 '20+' '17' '10' '9–25' '-' '9-100+' '8+' '3+']
----------------------------------------------------------------------------------------------------

🔹'Notes'

Tipo de dato: object

Porcentaje de nulos: 0.0

Suma de duplicados: 0

Valores únicos:
['Committed suicide by hanging after murdering his wife and niece. The latter was also decapitated and eviscerated in a manner strongly similar to 26 unsolved murders of women in Florida, starting in 1973, the year Brandt moved to the state. Brandt was later considered the culprit in one of these murders, due to his strong resemblance to a suspect who was filmed by a traffic camera near the place where one body was found. He could not be officially tied to the other crimes due to lack of evidence. Previously, when he was 13 years old in 1971, he attempted to murder his whole family with a gun, for no apparent reason. His mother (who was pregnant) died in this attack, but his father survived, and his sister escaped.'
 'Convicted of kidnapping, raping and murdering four girls aged between five and 11. Suspect in other earlier child murders in the UK and other European countries. Died weeks before he was to be charged with a fifth child murder.'
 'Poisoned and drowned four women, but suspected of killing 18 in total.'
 'Murdered people who approached his home; died of cardiac arrest in 1967.'
 'Pedophile who raped and killed young boys; initially sentenced to life imprisonment, but changed to the death sentence.'
 'Known as the "Evil Spirit of Kaukjarvi"; Ukrainian soldier who raped and killed women in Kamenka, selling their stolen items afterwards; executed 1987.'
 'Bisexual drifter who killed people he met in bars; his wife assisted in two of the murders; executed in 1997.'
 'Bigamist who murdered his wife and three children in a murder-suicide; posthumously revealed to have killed previous wives as well.'
 'Murdered a Radio Shack manager, and a florist at their respective places of business. Then murdered two acquaintances before taking two others hostage and committing suicide. Suspected of additional murders in the Pacific Northwest.'
 'Nicknamed "The Grindr Killer", Port met his victims via online gay social networks. He used gamma-Hydroxybutyric acid (GHB), a date rape drug, adding it to drinks given to his victims, raped them, and murdered four of them in his flat in Barking, east London.'
 'Sentenced to life without parole in 1974 for murdering a man who had shown him pictures of young boys he had sexually abused. Subsequently, killed another child sex offender in Broadmoor high-security hospital and two more, including a child sex offender, in prison. Has been held in solitary confinement since 1983.'
 'Sociopathic serial killer that murdered romantic partners with a handgun. Currently at large since her escape from prison in 1969.'
 "Domestic terrorist and serial bomber known as the ‘Unabomber’, Kaczynski was responsible for more than two dozen bombings of universities and one airline bombing from 1978 to 1996, justified by Kaczynski by his philosophy that technological advancements would destroy humanity. Arrested in 1996 due to his brother David recognizing the then unidentified Unabomber's manifesto titled: Industrial Society and Its Future, as the work of Kaczynski. Currently imprisoned at ADX Florence."
 'Convicted of murdering three women in Texas and Illinois between 1989 and 1990. Sentenced to life imprisonment.'
 'Scottish rapist and serial killer known to have killed at least three young women. Also a suspect in the Bible John murders, committed in Glasgow during the late 1960s.'
 'Killed three women in 1986; fled to the US but recaptured and deported back to Mexico; main suspect in the Ciudad Juárez Murders.'
 'Known as "Butcher Knife Billy". Killer convicted of raping and murdering three Native American prostitutes in Minneapolis in 1986 and 1987.'
 'Found not guilty by reason of insanity of three arsenic poisonings and suspected of 14 other killings, mostly children, in Missouri.'
 'Killed women near highways; confessed to a total of 16 murders.'
 'Known to have killed three prostitutes, but claims to have killed 14 to beat "Yorkshire Ripper" Peter Sutcliffe. Dubbed himself the "Crossbow Cannibal" as he killed his victims with a hammer and crossbow and then later ate parts of them.'
 'Dutch serial killer convicted of abducting, torturing, raping and killing three girls. Suspected of killing a further three to nine girls and young women in the 1970s.'
 'Poisoned her husband and two other men to death, but suspected in another seven deaths; sentenced to death.'
 'Ran a boarding house in Sacramento where she poisoned tenants and buried them in the yard in order to steal their social security checks.'
 'Burglar suspect of 12 violent murders during robberies, charged with five and convicted of three. Bragged that he had killed 11 people. In prison for life.'
 'Murdered three women in the town of Correggio, Reggio Emilia, and turned their bodies into soap and cakes.'
 'Slit the throats of three confirmed victims before dumping the bodies in wells. Reportedly confessed to an additional murder.'
 'American serial killer and child rapist who confessed to three murders for which he was convicted and sentenced to death.'
 'Considered to be a copycat of the Zodiac Killer. Claimed to have killed people based on their zodiac signs, and only killed when certain star formations were out.'
 '(Birth name John Martin Scripps, alias Simon James Davis) While on the run after escaping Britain, Martin killed at least three tourists between 8 and 14 March 1995 and robbed them of their possessions and money: one in Singapore and two in Thailand. He also dismembered their bodies and dumped them in various areas, such as the sea or abandoned places. Martin was also alleged to have killed at least three more people in other countries, such as the USA, but these were unconfirmed. He was arrested in Changi Airport when he returned to Singapore on 19 March 1995, and was charged with murder. Martin was found guilty of the one murder he committed in Singapore and thus sentenced to death in November 1995. Martin was executed on 19 April 1996, after he declined to appeal against his sentence.']
----------------------------------------------------------------------------------------------------

## A partir de aqui hacemos varias comprobaciones para asegurarnos que los datasets son iguales y se pueden concatenar

In [44]:
print(dfh.shape)
dfh['Name'].nunique()

(34, 6)

34

In [45]:
print(df5.shape)
df5['Name'].nunique()

(78, 6)

78

In [46]:
print(df4.shape)
df4['Name'].nunique()

(164, 6)

164

In [47]:
print(dfl.shape)
dfl['Name'].nunique()

(29, 6)

29

# Paso 2:

## Pasamos a la limpieza y normalizacion de los datos

In [48]:
# Concatenar los df:
dfc = pd.concat([dfh, df5, df4, dfl], ignore_index=True)

In [49]:
# Revisar duplicados
dfc.duplicated().sum()

0

In [50]:
# Cambiar los espacios por "_":
dfc.columns #Me da todas las columnas

# Diccionario vacío:
col_f = {} 

# Itera dfc.columns y crea un diccionario clave : valor con el cambio.
for columna in dfc.columns:
    col_f[columna] = columna.replace(" ", "_")

# Rename:
dfc.rename(columns = col_f, inplace = True)

In [51]:
dfc.columns

Index(['Name', 'Country', 'Years_active', 'Proven_victims', 'Possible_victims',
       'Notes'],
      dtype='object')

In [52]:
dfc['Years_active'].to_frame().T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304
Years_active,1992 to 1999,1969 to 1979,1998 to 1999,1992 to 2010,1974 to 1986,1967 to 2003,1977 to 1978,2000 to 2003,1970 to 2005,1981 to 1983,1978 to 1990,1989 to 1996,1934 to 1935,1982,1983 to 2002,1982 to 2000,1992 to 2006,1995 to 2003,1986 to 1997,1965 to 1968,2011 to 2014,1994 to 1995,1984 to 2005,1971 to 1985,1906 and earlier,1920 to 1930,1974 to 1978,1911,1972 to 1978,1907 to 1934,1921 to 1923,1982 to 1999,1999 to 2006,2011 to 2012,1900 to 1924,1989 to 2003,2010 to 2013,2000 to 2001,1993 to 2000,1996 to 1997,1939 to 1951,1973 to 1979,1985 to 1989,1971,1918 to 1924,1912 to 1916,1981 to 1985,1989 to 2006,1997 to 2006,1991 to 1992,1926 to 1927,1977 to 1995,1999 to 2003,1965 to 1977,1979 to 1980,1917 to 1935,2003 to 2004,1880 to 1908,1990s,1960s to 1970s,2007 to 2012,2005 to 2009,1991 to 1996,1982 to 1984,2005 to 2006,1986 to 1996,1988 to 1993,1998 to 2006,2008 to 2011,1920 to 1926,1992 to 1995,1998,1994 to 2002,1974,1984 to 1987,1979 to 1981,1996 to 2002,1994 to 1995,2001,2001 to 2003,2005 to 2006,2004,1992 to 2002,1997 to 1998,2002 to 2010,1971 to 1983,2004,1987 to 2001,1996 to 1997,2000 to 2001,1978 to 1991,1987 to 1988,1950s,2005,2008 to 2009,1975 to 1998,1948 to 1980,1969 to 1982,1974 to 1987,2003 to 2004,1986 to 1994,1997 to 1999,2008 to 2015,1911,1980 to 1983,1986 to 1999,1987 to 1998,1950s to 1956,1950s,1983 to 1997,1978 to 2001,1933 to 1935,1974 to 1982,1945 to 1946,1964 to 1970,1968 to 1985,1955 to 1976,1972 to 1989,1974 to 1975,1991,1998 to 2001,1995 to 1999,2002 to 2004,2004 to 2006,2005,1930s to 1947,1900? to 1908?,1934 to 1938,2003,1984 to 1985,1990s to 2007,1975 to 1980,1974 to 1975,1995 to 2015,1972 to 1973,1962 to 1964,1977 to 1993,1979 to 1986,1978 to 1981,1984 to 1986,1987 to 2002,2002 to 2003,2004 to 2006,1982 to 1989,1990 to 2006,2007,2007 to 2008,1980s to 1988,1908 to 1935,1953 to 1982,1986 to 1992,1991 to 2005,2000 to 2002,1978 to 1983,1977 to 1978,1975 to 1976,1990 to 1998,1975,1998 to 2003,1980 to 1981,1985,c.1900 to 1912,1990 to 1996,1992 to 1999,1986 to 1992,late 1990s to 2006,2008 to 2012,1974 to 1992,1964 to 1975,1991 to 1992,1927 to 1954,1980 to 1981,1915 to 1919,2003 to 2005,2007 to 2009,1993 to 1999,1987 to 1994,1971,1992 to 1995,1938 to 1942,2008 and earlier,1997 to 1998,2008,1998 to 2002,1933 to 1936,2000 to 2003,1998 to 2003,1946 to 1947,1983,1996 to 2011,1979 to 1986,1985 to 2007,1999,1984,1990 to 1997,2004 to 2008,1964 to 1973,1974 to 2004,1997 to present,1992 to 1999,1905 to 1908,1990 to 1994,1977 to 1979,1995 to 1998,2004 to 2012,2006 to 2008,1996 to 1998,1991 to 1992,1980 to 1982,1974 to 2006,1986 to 1989,1913 to 1930,1974 to 1978,1986 to 1994,1984 to 1992,1989 to 1993,1913 to 1920,1966 to 1992,1981 to 1996,1958 to 1983,2009 to 2012,1988 to 1989,2015 to 2016,1996 to 2000,2000s,2000s,1958 to 1963,1977 to 1980,1928? to 1946,1990 to 1995,1971 to 1979,1982 to 1983,1980 to 1988,1984,1918 to 1919,1990 to 1996,1965 to 1987,2010 to 2017,2007 to 2018,1980 and earlier,1964 to 1971,1991 to 1999,1990s,1980s to 2010s,1986,1979 to 1981,1997,1960 to 1980,2003 to 2016,1981 to 2004,2002,2002 to 2018,1989 to 1990,2016 to 2018,1976 to 1977,1977 to 1978,1980 to 1999,1950s,2005 to 2006,1990s to 2015,1986 to 1990,1989 to 1990,2000 to 2006,2014 to 2015,1977 to 1994,1978 to 2002,1977 to 1980,1962 to 1977,1957 to 2009,1915 to 1929,2006,1981 to 1987,1948 to 1951,1989 to 1992,1976 to 1996,30 June 1983 to 23 July 1983,1971 to 2004,1981 to 1986,1946 to 1958,1949 and earlier,1993 to 2010,1985 to 1986,1985 to 1986,1912 and earlier,1999,2014 to 2015,1974 to 1978,1960 to 1964,1978 to 1996,1989 to 1990,1991 to 2006,1986,1986 to 1987,1909 to 1928,1947 to 1952,2009 to 2010,1979 to 1980,2007 to 2013,1982 to 1988,1973 to 1975,1939 to 1940,2008,1924 to 1932,1990 to 1996,1995

In [53]:
# Dividir 'Years_active' en 'Start Stop' y modificar la columna 'Years_active' (total años en activo)
# Crear la columna 'Start_year' a partir de 'Years_active': Eliminando el 'to' y lo que va después.
dfc['Start_year'] = dfc['Years_active'].str.split(" to ").str[0]

In [54]:
dfc['Start_year'].unique()

array(['1992', '1969', '1998', '1974', '1967', '1977', '2000', '1970',
       '1981', '1978', '1989', '1934', '1982', '1983', '1995', '1986',
       '1965', '2011', '1994', '1984', '1971', '1906 and earlier', '1920',
       '1911', '1972', '1907', '1921', '1999', '1900', '2010', '1993',
       '1996', '1939', '1973', '1985', '1918', '1912', '1997', '1991',
       '1926', '1979', '1917', '2003', '1880', '1990s', '1960s', '2007',
       '2005', '1988', '2008', '2001', '2004', '2002', '1987', '1950s',
       '1975', '1948', '1980', '1933', '1945', '1964', '1968', '1955',
       '1930s', '1900?', '1962', '1990', '1980s', '1908', '1953',
       'c.1900', 'late 1990s', '1927', '1915', '1938', '2008 and earlier',
       '1946', '1905', '2006', '1913', '1966', '1958', '2009', '2015',
       '2000s', '1928?', '1980 and earlier', '1960', '2016', '1976',
       '2014', '1957', '30 June 1983', '1949 and earlier',
       '1912 and earlier', '1909', '1947', '1924'], dtype=object)

In [55]:
# Las columnas son una caca y tuve que preguntarle a chatgpt qué hacer, después de provar mil cosas me dió este código:
# Extraer los cuatro primero dígitos de la cadena:
dfc['Start_year'] = dfc['Start_year'].str.extract(r'(\d{4})')

# Convertir la columna a numérico:
dfc['Start_year'] = pd.to_numeric(dfc['Start_year'], errors='coerce')

In [56]:
# Revisar que todo ok:
dfc['Start_year'].to_frame().T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304
Start_year,1992,1969,1998,1992,1974,1967,1977,2000,1970,1981,1978,1989,1934,1982,1983,1982,1992,1995,1986,1965,2011,1994,1984,1971,1906,1920,1974,1911,1972,1907,1921,1982,1999,2011,1900,1989,2010,2000,1993,1996,1939,1973,1985,1971,1918,1912,1981,1989,1997,1991,1926,1977,1999,1965,1979,1917,2003,1880,1990,1960,2007,2005,1991,1982,2005,1986,1988,1998,2008,1920,1992,1998,1994,1974,1984,1979,1996,1994,2001,2001,2005,2004,1992,1997,2002,1971,2004,1987,1996,2000,1978,1987,1950,2005,2008,1975,1948,1969,1974,2003,1986,1997,2008,1911,1980,1986,1987,1950,1950,1983,1978,1933,1974,1945,1964,1968,1955,1972,1974,1991,1998,1995,2002,2004,2005,1930,1900,1934,2003,1984,1990,1975,1974,1995,1972,1962,1977,1979,1978,1984,1987,2002,2004,1982,1990,2007,2007,1980,1908,1953,1986,1991,2000,1978,1977,1975,1990,1975,1998,1980,1985,1900,1990,1992,1986,1990,2008,1974,1964,1991,1927,1980,1915,2003,2007,1993,1987,1971,1992,1938,2008,1997,2008,1998,1933,2000,1998,1946,1983,1996,1979,1985,1999,1984,1990,2004,1964,1974,1997,1992,1905,1990,1977,1995,2004,2006,1996,1991,1980,1974,1986,1913,1974,1986,1984,1989,1913,1966,1981,1958,2009,1988,2015,1996,2000,2000,1958,1977,1928,1990,1971,1982,1980,1984,1918,1990,1965,2010,2007,1980,1964,1991,1990,1980,1986,1979,1997,1960,2003,1981,2002,2002,1989,2016,1976,1977,1980,1950,2005,1990,1986,1989,2000,2014,1977,1978,1977,1962,1957,1915,2006,1981,1948,1989,1976,1983,1971,1981,1946,1949,1993,1985,1985,1912,1999,2014,1974,1960,1978,1989,1991,1986,1986,1909,1947,2009,1979,2007,1982,1973,1939,2008,1924,1990,1995

In [57]:
# Para 'End_year' también era un lío así que me ayudó de nuevo chatgpt.
# Extraer todos los números de 4 dígitos en una lista para cada registro y tomar solamente el último, si no hay devuelve nulo.
dfc['End_year'] = dfc['Years_active'].str.findall(r'(\d{4})').apply(lambda x: x[-1] if x else np.nan)

# Convertir la columna a numérico
dfc['End_year'] = pd.to_numeric(dfc['End_year'], errors='coerce')

In [58]:
# Revisar again que todo ok:
dfc['End_year'].to_frame().T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304
End_year,1999,1979,1999,2010,1986,2003,1978,2003,2005,1983,1990,1996,1935,1982,2002,2000,2006,2003,1997,1968,2014,1995,2005,1985,1906,1930,1978,1911,1978,1934,1923,1999,2006,2012,1924,2003,2013,2001,2000,1997,1951,1979,1989,1971,1924,1916,1985,2006,2006,1992,1927,1995,2003,1977,1980,1935,2004,1908,1990,1970,2012,2009,1996,1984,2006,1996,1993,2006,2011,1926,1995,1998,2002,1974,1987,1981,2002,1995,2001,2003,2006,2004,2002,1998,2010,1983,2004,2001,1997,2001,1991,1988,1950,2005,2009,1998,1980,1982,1987,2004,1994,1999,2015,1911,1983,1999,1998,1956,1950,1997,2001,1935,1982,1946,1970,1985,1976,1989,1975,1991,2001,1999,2004,2006,2005,1947,1908,1938,2003,1985,2007,1980,1975,2015,1973,1964,1993,1986,1981,1986,2002,2003,2006,1989,2006,2007,2008,1988,1935,1982,1992,2005,2002,1983,1978,1976,1998,1975,2003,1981,1985,1912,1996,1999,1992,2006,2012,1992,1975,1992,1954,1981,1919,2005,2009,1999,1994,1971,1995,1942,2008,1998,2008,2002,1936,2003,2003,1947,1983,2011,1986,2007,1999,1984,1997,2008,1973,2004,1997,1999,1908,1994,1979,1998,2012,2008,1998,1992,1982,2006,1989,1930,1978,1994,1992,1993,1920,1992,1996,1983,2012,1989,2016,2000,2000,2000,1963,1980,1946,1995,1979,1983,1988,1984,1919,1996,1987,2017,2018,1980,1971,1999,1990,2010,1986,1981,1997,1980,2016,2004,2002,2018,1990,2018,1977,1978,1999,1950,2006,2015,1990,1990,2006,2015,1994,2002,1980,1977,2009,1929,2006,1987,1951,1992,1996,1983,2004,1986,1958,1949,2010,1986,1986,1912,1999,2015,1978,1964,1996,1990,2006,1986,1987,1928,1952,2010,1980,2013,1988,1975,1940,2008,1932,1996,1995

In [59]:
# Comparar las dos columnas:
dfc['Start_year'].to_frame().T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304
Start_year,1992,1969,1998,1992,1974,1967,1977,2000,1970,1981,1978,1989,1934,1982,1983,1982,1992,1995,1986,1965,2011,1994,1984,1971,1906,1920,1974,1911,1972,1907,1921,1982,1999,2011,1900,1989,2010,2000,1993,1996,1939,1973,1985,1971,1918,1912,1981,1989,1997,1991,1926,1977,1999,1965,1979,1917,2003,1880,1990,1960,2007,2005,1991,1982,2005,1986,1988,1998,2008,1920,1992,1998,1994,1974,1984,1979,1996,1994,2001,2001,2005,2004,1992,1997,2002,1971,2004,1987,1996,2000,1978,1987,1950,2005,2008,1975,1948,1969,1974,2003,1986,1997,2008,1911,1980,1986,1987,1950,1950,1983,1978,1933,1974,1945,1964,1968,1955,1972,1974,1991,1998,1995,2002,2004,2005,1930,1900,1934,2003,1984,1990,1975,1974,1995,1972,1962,1977,1979,1978,1984,1987,2002,2004,1982,1990,2007,2007,1980,1908,1953,1986,1991,2000,1978,1977,1975,1990,1975,1998,1980,1985,1900,1990,1992,1986,1990,2008,1974,1964,1991,1927,1980,1915,2003,2007,1993,1987,1971,1992,1938,2008,1997,2008,1998,1933,2000,1998,1946,1983,1996,1979,1985,1999,1984,1990,2004,1964,1974,1997,1992,1905,1990,1977,1995,2004,2006,1996,1991,1980,1974,1986,1913,1974,1986,1984,1989,1913,1966,1981,1958,2009,1988,2015,1996,2000,2000,1958,1977,1928,1990,1971,1982,1980,1984,1918,1990,1965,2010,2007,1980,1964,1991,1990,1980,1986,1979,1997,1960,2003,1981,2002,2002,1989,2016,1976,1977,1980,1950,2005,1990,1986,1989,2000,2014,1977,1978,1977,1962,1957,1915,2006,1981,1948,1989,1976,1983,1971,1981,1946,1949,1993,1985,1985,1912,1999,2014,1974,1960,1978,1989,1991,1986,1986,1909,1947,2009,1979,2007,1982,1973,1939,2008,1924,1990,1995

Al comparar los datos de 'Years_active', 'Start_year' y 'End_year' hay que cambiar ciertas entradas en 'End_year':
- A 1959 en_ 92, 108 y 27. Ya que estuvieron activos en 1950s.
- A 1999 en: 58 y 242. Ya que estuvieron activos en 1990s.
- A 2009 en: 224 y 225. Ya que estuvieron activos en 2000s.
- En el id 198 indica "to present", ¿asumimos que la fecha es 2018 ya que es el último año de actividad?

In [60]:
# Ver cuál es el último año:
unique_values = np.sort(dfc['End_year'].unique())[::-1]
print(unique_values)

[2018 2017 2016 2015 2014 2013 2012 2011 2010 2009 2008 2007 2006 2005
 2004 2003 2002 2001 2000 1999 1998 1997 1996 1995 1994 1993 1992 1991
 1990 1989 1988 1987 1986 1985 1984 1983 1982 1981 1980 1979 1978 1977
 1976 1975 1974 1973 1971 1970 1968 1964 1963 1958 1956 1954 1952 1951
 1950 1949 1947 1946 1942 1940 1938 1936 1935 1934 1932 1930 1929 1928
 1927 1926 1924 1923 1920 1919 1916 1912 1911 1908 1906]

In [61]:
#Cambios en 'End_year'.
# A 1959 en_ 92, 108 y 27. Ya que estuvieron activos en 1950s.
dfc.loc[[92, 108, 27], 'End_year'] = 1959

# A 1999 en: 58 y 242. Ya que estuvieron activos en 1990s.
dfc.loc[[58, 242], 'End_year'] = 1999

# A 2009 en: 24 y 25. Ya que estuvieron activos en 2000s.
dfc.loc[[224, 225], 'End_year'] = 2009

# En el id 198 indica "to present", ¿asumimos que la fecha es 2018 ya que es el último año de actividad?
dfc.loc[[198], 'End_year'] = 2018

In [62]:
# Columna nueva con años en activo, nuevo nombre para que no se solape:
# Añadimos el +1 para que los que llevan solo un año en activo no se quede 0 y para que el primer año también cuente en el resto.
dfc['Años_activo'] = dfc['End_year'] - dfc['Start_year'] + 1

In [63]:
dfc['Años_activo'].unique()

array([ 8, 11,  2, 19, 13, 37,  4, 36,  3,  1, 20, 15,  9, 12, 22,  5, 49,
        7, 28, 18, 25, 10, 29,  6, 14, 24, 33, 21, 17, 16, 30, 23, 31, 27,
       26, 53, 34])

In [64]:
# Eliminar 'Years_active' para después cambiar 'Años_activo':
dfc.drop('Years_active', axis=1, inplace=True)

In [65]:
# Cambio de nombre:
dfc.rename(columns = {'Años_activo': 'Years_active'}, inplace = True)

Vamos ahora con 'Proven_victims'

In [66]:
dfc['Proven_victims'].unique()

array([138, 110, 100, 83, 72, 71, 70, 67, 60, 58, 53, 52, 50, 49, 48, 45,
       42, 41, 39, 38, 36, 35, 33, 32, 30, 28, 27, 26, 25, 24, 23, 22, 21,
       20, 19, 18, 17, 16, 15, '14', '13', '12', '11–16', '11', '10',
       '9–13', '9', '8', '8–15', '8–11+', '7', '6', '5', 4, 3],
      dtype=object)

In [67]:
# Hago ua función para cambiar los valores que "no sirven" porque intentando hacerlo con código la liaba siempre.
def intervalos(Proven_victims):
    if Proven_victims == '11–16':
        return "11"
    elif Proven_victims == "9–13":
        return "9"
    elif Proven_victims == "8–15":
        return "8"
    elif Proven_victims == "8–11+":
        return "8"
    else:
        return Proven_victims

In [68]:
# Aplica la función:
dfc['Proven_victims'] = dfc['Proven_victims'].apply(intervalos)

In [69]:
# Reviso:
dfc['Proven_victims'].unique()

array([138, 110, 100, 83, 72, 71, 70, 67, 60, 58, 53, 52, 50, 49, 48, 45,
       42, 41, 39, 38, 36, 35, 33, 32, 30, 28, 27, 26, 25, 24, 23, 22, 21,
       20, 19, 18, 17, 16, 15, '14', '13', '12', '11', '10', '9', '8',
       '7', '6', '5', 4, 3], dtype=object)

In [70]:
# Cambio a int:
dfc['Proven_victims'] = dfc['Proven_victims'].astype(int)

In [71]:
# Reviso again:
dfc['Proven_victims'].unique()

array([138, 110, 100,  83,  72,  71,  70,  67,  60,  58,  53,  52,  50,
        49,  48,  45,  42,  41,  39,  38,  36,  35,  33,  32,  30,  28,
        27,  26,  25,  24,  23,  22,  21,  20,  19,  18,  17,  16,  15,
        14,  13,  12,  11,  10,   9,   8,   7,   6,   5,   4,   3])

Nos encontramos que en los registros de la columna country aparecen listas de paises separados por saltos de fila. Tableau no puede interpretar estos datos correctamente 
por lo que trás hablar con la PO tomamos la decision de hacer un .explode por filas y quedarnos con la primera.

In [72]:
print(dfc['Country'].unique())

['Colombia\r\nEcuador\r\nVenezuela' 'Colombia\r\nPeru\r\nEcuador'
 'Pakistan' 'Russia' 'Colombia\r\nEcuador\r\nBrazil (alleged)' 'Brazil'
 'India' 'China' 'United States' 'Italy' 'Soviet Union'
 'Soviet Union\r\nUkraine' 'Canada' 'Indonesia' 'South Africa' 'Morocco'
 'Kingdom of Romania\r\nYugoslavia\r\nHungary (alleged)'
 'Ottoman Empire\r\n Iraq\r\n Iran' 'Mexico' 'Egypt' 'Germany' 'Colombia'
 'Swaziland' 'Greece' 'United Kingdom' 'Austria-Hungary' 'Iran'
 'France\r\nGermany (suspected)\r\nSwitzerland (suspected)' 'Ecuador'
 'United States\r\nCanada' 'Soviet Union\r\nRussia\r\nTajikistan'
 'Romania' 'South Korea' 'Afghanistan' 'Costa Rica'
 'Soviet Union\r\nRussia' 'Latvia' 'Turkey' 'France' 'Peru' 'Ukraine'
 'France\r\nBelgium' 'Spain' 'Venezuela' 'United States\r\nMexico'
 'Argentina' 'Poland' 'West Germany' 'Chile' 'Tunisia'
 'Thailand\r\nNepal\r\nIndia\r\nMalaysia' 'Yemen' 'Japan' 'Australia'
 'Austria\r\nUnited States\r\nCzechoslovakia' 'Bangladesh' 'Belgium'
 'Soviet Union\r\nRussia\r\nUkraine'
 'East Germany\r\nGermany\r\nFrance\r\nSpain\r\nCzech Republic (suspected)\r\nItaly (suspected)'
 'German Empire\r\nGermany' 'Denmark' 'China\r\nJapan'
 'Spain\r\nFrance (claimed)\r\nItaly (claimed)' 'Canada\r\nUnited States'
 'Cyprus' 'Belarus' 'United States\r\n Portuguese Angola'
 'Switzerland\r\nFrance\r\nUnited States\r\nYugoslavia (suspected)\r\nItaly (suspected)'
 'Czechoslovakia' 'Singapore'
 'United Kingdom\r\nIreland (suspected)\r\nWest Germany (suspected)\r\nNetherlands (suspected)\r\nFrance (suspected)'
 'Austria' 'Allied-occupied Germany\r\nWest Germany' 'Netherlands']

In [ ]:
#Separamos los países por salto de línea, explotamos filas y limpiamos espacios delante y detrás
dfc['Country'] = dfc['Country'].str.split(r'\r\n')
dfc = dfc.explode('Country')
dfc['Country'] = dfc['Country'].str.strip()
#eliminamos duplicados
dfc = dfc.drop_duplicates(subset='Name', keep='first').reset_index(drop=True)

In [ ]:
#comprobamos que los duplicados se han eliminado correctamente.
duplicates = dfc.duplicated(subset='Name').sum()
print(f'Duplicados encontrados: {duplicates}')

Duplicados encontrados: 0

In [75]:
# comprobamos que se ha ejecutado correctamente
print(sorted(dfc['Country'].unique()))
print(dfc['Country'].isnull().sum())
dfc['Country'].value_counts()

['Afghanistan', 'Allied-occupied Germany', 'Argentina', 'Australia', 'Austria', 'Austria-Hungary', 'Bangladesh', 'Belarus', 'Belgium', 'Brazil', 'Canada', 'Chile', 'China', 'Colombia', 'Costa Rica', 'Cyprus', 'Czechoslovakia', 'Denmark', 'East Germany', 'Ecuador', 'Egypt', 'France', 'German Empire', 'Germany', 'Greece', 'India', 'Indonesia', 'Iran', 'Italy', 'Japan', 'Kingdom of Romania', 'Latvia', 'Mexico', 'Morocco', 'Netherlands', 'Ottoman Empire', 'Pakistan', 'Peru', 'Poland', 'Romania', 'Russia', 'Singapore', 'South Africa', 'South Korea', 'Soviet Union', 'Spain', 'Swaziland', 'Switzerland', 'Thailand', 'Tunisia', 'Turkey', 'Ukraine', 'United Kingdom', 'United States', 'Venezuela', 'West Germany', 'Yemen']
0

Country
United States              95
Russia                     21
Soviet Union               21
South Africa               19
United Kingdom             13
India                      10
China                      10
Brazil                      8
France                      8
Colombia                    7
Italy                       6
Canada                      6
Australia                   5
South Korea                 4
Spain                       4
Japan                       4
Turkey                      4
Mexico                      4
Germany                     3
Iran                        3
Argentina                   3
Indonesia                   3
West Germany                2
Latvia                      2
Poland                      2
Bangladesh                  2
Belgium                     2
Ukraine                     2
Austria                     2
Costa Rica                  2
Pakistan                    2
Ottoman Empire              1
Allied-occupied Germany     1
Singapore                   1
Czechoslovakia              1
Switzerland                 1
Belarus                     1
Cyprus                      1
Denmark                     1
German Empire               1
East Germany                1
Morocco                     1
Kingdom of Romania          1
Egypt                       1
Peru                        1
Swaziland                   1
Yemen                       1
Thailand                    1
Tunisia                     1
Chile                       1
Greece                      1
Austria-Hungary             1
Ecuador                     1
Venezuela                   1
Romania                     1
Afghanistan                 1
Netherlands                 1
Name: count, dtype: int64

In [76]:
dfc.head(5)

,Name,Country,Proven_victims,Possible_victims,Notes,Start_year,End_year,Years_active
0,Luis Garavito,Colombia,138,172–300+,"Child-murderer, torture-killer, and rapist kno...",1992,1999,8
1,Pedro López,Colombia,110,300+,"Child-murderer and rapist, known as ""The Monst...",1969,1979,11
2,Javed Iqbal,Pakistan,100,100,"Child-murderer and rapist, known as ""Kukri"", I...",1998,1999,2
3,Mikhail Popkov,Russia,83,83+,"Serial rapist-killer nicknamed ""The Werewolf"",...",1992,2010,19
4,Daniel Camargo Barbosa,Colombia,72,180,"Child and woman murderer, believed to have pos...",1974,1986,13

Vemos que tras la limpieza nuestro dataset son pocos registros pasa analizar y añadimos dos csv más para completar

In [77]:
df_victims = pd.read_csv("Primary-data/serial_killers_by_victims.csv", sep=";")
df_profile = pd.read_csv("Primary-data/profile_killers.csv", sep=";")

In [78]:
df_profile.info()
df_victims.info()
dfc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 711 entries, 0 to 710
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              711 non-null    object
 1   Nicknames         469 non-null    object
 2   Age               243 non-null    float64
 3   Born Date         444 non-null    object
 4   Born Location     420 non-null    object
 5   Died Date         308 non-null    object
 6   Died Location     229 non-null    object
 7   Conviction        500 non-null    object
 8   Criminal Penalty  580 non-null    object
 9   Date Apprehended  543 non-null    object
dtypes: float64(1), object(9)
memory usage: 55.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 757 entries, 0 to 756
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              757 non-null    object
 1   Country           757 non-null    object
 2   Start year        756 non-null    float64
 3   End year          751 non-null    float64
 4   Proven victims    757 non-null    float64
 5   Possible victims  757 non-null    float64
 6   Notes             754 non-null    object
dtypes: float64(4), object(3)
memory usage: 41.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305 entries, 0 to 304
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              305 non-null    object
 1   Country           305 non-null    object
 2   Proven_victims    305 non-null    int64
 3   Possible_victims  237 non-null    object
 4   Notes             305 non-null    object
 5   Start_year        305 non-null    int64
 6   End_year          305 non-null    int64
 7   Years_active      305 non-null    int64
dtypes: int64(4), object(4)
memory usage: 19.2+ KB

In [79]:
print("Columnas en df_victims:")
print(df_victims.columns)

print("Columnas en df_profile:")
print(df_profile.columns)

Columnas en df_victims:
Index(['Name', 'Country', 'Start year', 'End year', 'Proven victims',
       'Possible victims', 'Notes'],
      dtype='object')
Columnas en df_profile:
Index(['Name', 'Nicknames', 'Age', 'Born Date', 'Born Location', 'Died Date',
       'Died Location', 'Conviction', 'Criminal Penalty', 'Date Apprehended'],
      dtype='object')

In [ ]:
#Unimos los dos csv nuevos con un outer para mantener todas las columnas.
df_new_killers = df_victims.merge(df_profile, on='Name', how='outer')

In [81]:
df_new_killers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852 entries, 0 to 851
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              852 non-null    object
 1   Country           757 non-null    object
 2   Start year        756 non-null    float64
 3   End year          751 non-null    float64
 4   Proven victims    757 non-null    float64
 5   Possible victims  757 non-null    float64
 6   Notes             754 non-null    object
 7   Nicknames         469 non-null    object
 8   Age               243 non-null    float64
 9   Born Date         444 non-null    object
 10  Born Location     420 non-null    object
 11  Died Date         308 non-null    object
 12  Died Location     229 non-null    object
 13  Conviction        500 non-null    object
 14  Criminal Penalty  580 non-null    object
 15  Date Apprehended  543 non-null    object
dtypes: float64(5), object(11)
memory usage: 106.6+ KB

In [83]:
#Normalizamos los nombres de las columnas con el mismo codigo que hicimos anteriormente con el dataframe DFC
df_new_killers.columns
col_f = {} 
for columna in df_new_killers.columns:
    col_f[columna] = columna.replace(" ", "_")

df_new_killers.rename(columns = col_f, inplace = True)

print(df_new_killers.columns)

Index(['Name', 'Country', 'Start_year', 'End_year', 'Proven_victims',
       'Possible_victims', 'Notes', 'Nicknames', 'Age', 'Born_Date',
       'Born_Location', 'Died_Date', 'Died_Location', 'Conviction',
       'Criminal_Penalty', 'Date_Apprehended'],
      dtype='object')

In [88]:
def limpiar_nombres(nombre):
    if pd.isnull(nombre):
        return nombre
    nombre = nombre.strip()
    nombre = re.sub(r'["\'].*?["\']', '', nombre)  # quitamos apodos entre comillas
    nombre = re.sub(r'\(.*?\)', '', nombre)  # quitamos texto entre paréntesis
    nombre = " ".join(nombre.split())    # reemplazamos múltiples espacios por uno solo
    nombre = unicodedata.normalize("NFKD", nombre).encode("ASCII", "ignore").decode("utf-8")  # quitamos acentos
    return nombre.title()      # formato título


#aplicamos la funcion al dataframe
df_new_killers["Name"] = df_new_killers["Name"].apply(limpiar_nombres)

In [ ]:
#Una vez tenemos NAME que es el valor unico por el que nos guiamos normalizado pasamos a ver algunos datos de dtaframe que acabamos de crear
print("\nDuplicados por 'Name'")
duplicados = df_new_killers[df_new_killers.duplicated(subset='Name', keep=False)]
print(f"Total: {duplicados.shape[0]}")
if not duplicados.empty:
    display_cols = ['Name', 'Country', 'Start_year', 'End_year']
    print(duplicados[display_cols].sort_values(by='Name').head(10))

print("\nValores nulos por columna:")
print(df_new_killers.isnull().sum())

print("\nCasos donde End_year < Start_year")
errores_fecha = df_new_killers[df_new_killers['End_year'] < df_new_killers['Start_year']]
print(f"Total: {errores_fecha.shape[0]}")
if not errores_fecha.empty:
    print(errores_fecha[['Name', 'Start_year', 'End_year']].head(10))

print("\nRegistros con Proven_victims <= 0")
errores_victimas = df_new_killers[df_new_killers['Proven_victims'] <= 0]
print(f"Total: {errores_victimas.shape[0]}")
if not errores_victimas.empty:
    print(errores_victimas[['Name', 'Proven_victims']].head(10))

print("\nRegistros sin nombre:")
sin_nombre = df_new_killers['Name'].isnull().sum()
print(f"Total: {sin_nombre}")

Duplicados por 'Name'
Total: 141
                       Name         Country  Start_year  End_year
0                            United Kingdom      1968.0    1969.0
1                             United States      1972.0    1973.0
2                                Costa Rica      1986.0    1996.0
4                                    Brazil      2007.0    2008.0
5                                 Australia      1979.0    1983.0
7        Abboud And Khajawa             NaN         NaN       NaN
8        Abboud And Khajawa            Iraq         NaN    1917.0
9         Abdallah Al-Hubal             NaN         NaN       NaN
10        Abdallah Al-Hubal           Yemen      1990.0    1998.0
56  Angel Makers Of Nagyrev             NaN         NaN       NaN

Valores nulos por columna:
Name                  0
Country              95
Start_year           96
End_year            101
Proven_victims       95
Possible_victims     95
Notes                98
Nicknames           383
Age                 609
Born_Date           408
Born_Location       432
Died_Date           544
Died_Location       623
Conviction          352
Criminal_Penalty    272
Date_Apprehended    309
dtype: int64

Casos donde End_year < Start_year
Total: 0

Registros con Proven_victims <= 0
Total: 0

Registros sin nombre:
Total: 0

In [93]:
#vamos a atajar esos duplicados para quedarnos con el que este más completo y eliminar el resto.
#vamos a crear una columna auxiliar que sera True si estan completos lo datos clave que marcamos
df_new_killers["completo"] = ~(
    df_new_killers["Country"].isnull() |
    df_new_killers["Start_year"].isnull() |
    df_new_killers["End_year"].isnull() |
    df_new_killers["Proven_victims"].isnull() |
    df_new_killers["Possible_victims"].isnull())

#ordenamos el df para que los registros con más datos sean los primeros
df_new_killers = df_new_killers.sort_values(by="completo", ascending=False)
#eliminamos duplicados por name quedandonos con la primera aparicion
df_new_killers = df_new_killers.drop_duplicates(subset="Name", keep="first")

df_new_killers.drop(columns="completo", inplace=True)

#comprobamos que ha funcionado
print("\nDuplicados por 'Name'")
duplicados = df_new_killers[df_new_killers.duplicated(subset='Name', keep=False)]
print(f"Total: {duplicados.shape[0]}")

Duplicados por 'Name'
Total: 0

### Pasamos a unir el dataframe inicial con el complementario

In [96]:
#Ver columnas disponibles en ambos
print(dfc.columns)
print(df_new_killers.columns)

#aplicamos la misma funcion de limpiar nombres que creamos antes
dfc["Name"] = dfc["Name"].apply(limpiar_nombres)

#Ver si hay coincidencias filtrando por la columna name
matches = dfc['Name'].isin(df_new_killers['Name']).sum()
print(f"Coincidencias por 'Name': {matches} de {len(dfc)}")

#Hacemos merge con outer para mantener todos los asesinos
df_final = pd.merge(dfc, df_new_killers, on='Name', how='outer', suffixes=('_kaggle', '_extra'))

Index(['Name', 'Country', 'Proven_victims', 'Possible_victims', 'Notes',
       'Start_year', 'End_year', 'Years_active'],
      dtype='object')
Index(['Name', 'Country', 'Start_year', 'End_year', 'Proven_victims',
       'Possible_victims', 'Notes', 'Nicknames', 'Age', 'Born_Date',
       'Born_Location', 'Died_Date', 'Died_Location', 'Conviction',
       'Criminal_Penalty', 'Date_Apprehended'],
      dtype='object')
Coincidencias por 'Name': 294 de 305

In [97]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 791 entries, 0 to 790
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Name                     791 non-null    object
 1   Country_kaggle           305 non-null    object
 2   Proven_victims_kaggle    305 non-null    float64
 3   Possible_victims_kaggle  237 non-null    object
 4   Notes_kaggle             305 non-null    object
 5   Start_year_kaggle        305 non-null    float64
 6   End_year_kaggle          305 non-null    float64
 7   Years_active             305 non-null    float64
 8   Country_extra            752 non-null    object
 9   Start_year_extra         752 non-null    float64
 10  End_year_extra           746 non-null    float64
 11  Proven_victims_extra     752 non-null    float64
 12  Possible_victims_extra   752 non-null    float64
 13  Notes_extra              749 non-null    object
 14  Nicknames                439 non-null    object
 15  Age                      222 non-null    float64
 16  Born_Date                406 non-null    object
 17  Born_Location            383 non-null    object
 18  Died_Date                282 non-null    object
 19  Died_Location            211 non-null    object
 20  Conviction               460 non-null    object
 21  Criminal_Penalty         531 non-null    object
 22  Date_Apprehended         493 non-null    object
dtypes: float64(9), object(14)
memory usage: 142.3+ KB

In [98]:
df_final.sample(10)

,Name,Country_kaggle,Proven_victims_kaggle,Possible_victims_kaggle,Notes_kaggle,Start_year_kaggle,End_year_kaggle,Years_active,Country_extra,Start_year_extra,End_year_extra,Proven_victims_extra,Possible_victims_extra,Notes_extra,Nicknames,Age,Born_Date,Born_Location,Died_Date,Died_Location,Conviction,Criminal_Penalty,Date_Apprehended
200,Eastbound Strangler,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United States,2006.0,2015.0,4.0,4.0,Killed four women in October and November 2006...,Atlantic City Serial Killer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
740,Viktor Sayenko And Igor Suprunyuk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ukraine,2007.0,2016.0,21.0,21.0,"""The Dnepropetrovsk Maniacs"". A pair of 19-yea...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
462,Marcelo Costa De Andrade,Brazil,14.0,NaN,Known as The Vampire of Niterói. Raped and kil...,1991.0,1991.0,1.0,Brazil,1991.0,2000.0,14.0,14.0,Known as The Vampire of Niterói. Raped and kil...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
604,Ripper Jayanandan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,India,2003.0,2006.0,7.0,7.0,Killed seven people during robberies. Sentence...,Ripper,NaN,NaN,"Thrissur, Kerala, India",NaN,NaN,Murder,deathby hanging,2006-11-23
781,Yoo Young-Chul,South Korea,21.0,26,"Used a hammer to murder mostly older victims, ...",2003.0,2004.0,2.0,South Korea,2003.0,2004.0,21.0,26.0,"Used a hammer to murder mostly older victims, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
664,Sharon Kinne,United States,3.0,3,Sociopathic serial killer that murdered romant...,1960.0,1964.0,5.0,United States,1960.0,1964.0,3.0,3.0,Sociopathic serial killer that murdered romant...,"Jeanette Pugliese, La Pistolera",NaN,1939-11-30,NaN,NaN,NaN,Murder,NaN,NaN
393,Jurgen Bartsch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,West Germany,1962.0,1966.0,4.0,4.0,"Killed four, one escaped; died by wrongful ove...",The Carnival Killer (Der Kirmesmörder),29.0,1946-11-06,occupied Germany,1976-04-28,"Eickelborn, West Germany",Murder,"life imprisonment, commuted 10 years of juveni...",1966-01-01
537,Ottis Toole,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United States,1980.0,1983.0,8.0,112.0,"Initially convicted of three counts of murder,...",NaN,49.0,1947-03-05,NaN,1996-09-15,NaN,Murder Arson,Two death sentences plus four life sentence(s)...,1983-06-15
258,Gary C. Evans,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United States,1985.0,1998.0,8.0,8.0,Befriended the Son of Sam killer while incarce...,NaN,43.0,1954-10-07,NaN,1998-08-14,NaN,NaN,None (died before trial),1998-05-27
391,Judy Buenoano,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United States,1971.0,1980.0,3.0,5.0,"Poisoned her husband, boyfriend and son with a...","Judias Goodyear, Judy Morris, Judias Buenoano,...",54.0,1943-04-04,NaN,1998-03-30,NaN,Murder,"life imprisonment (June 6, 1984)deathby electr...",1984-01-11

In [99]:
#Ya sabemos que Name es identificador único, ahora vamos a ver si hay duplicados por nombre.
duplicados = df_final[df_final.duplicated(subset='Name', keep=False)]

#En el caso de que haya, quiero ver los nombres que estan duplicados y cuantas veces se repite
nombres_duplicados = duplicados['Name'].value_counts()
print(f"Total asesinos con duplicados: {nombres_duplicados.shape[0]}")
print("Nombres duplicados (con cantidad de repeticiones):")
print(nombres_duplicados)

Total asesinos con duplicados: 0
Nombres duplicados (con cantidad de repeticiones):
Series([], Name: count, dtype: int64)

In [100]:
#Vemos las columnas comunes que tienen sufijos _kaggle y _extra
columnas_kaggle = [col for col in df_final.columns if col.endswith('_kaggle')]
columnas_extra = [col for col in df_final.columns if col.endswith('_extra')]

columnas_comunes = []
for col_k in columnas_kaggle:
    base_name = col_k.replace('_kaggle', '')
    col_e = base_name + '_extra'
    if col_e in columnas_extra:
        columnas_comunes.append(base_name)

#Analizar ambas direcciones
print("Aportes de datos entre _kaggle y _extra:")
for col in columnas_comunes:
    col_kaggle = f"{col}_kaggle"
    col_extra = f"{col}_extra"

    aporta_kaggle = df_final[col_extra].isnull() & df_final[col_kaggle].notnull()
    aporta_extra = df_final[col_kaggle].isnull() & df_final[col_extra].notnull()

    print(f" {col}")
    print(f"_kaggle aporta en: {aporta_kaggle.sum()} registros donde _extra está vacío")
    print(f"_extra aporta en: {aporta_extra.sum()} registros donde _kaggle está vacío")

Aportes de datos entre _kaggle y _extra:
 Country
_kaggle aporta en: 14 registros donde _extra está vacío
_extra aporta en: 461 registros donde _kaggle está vacío
 Proven_victims
_kaggle aporta en: 14 registros donde _extra está vacío
_extra aporta en: 461 registros donde _kaggle está vacío
 Possible_victims
_kaggle aporta en: 9 registros donde _extra está vacío
_extra aporta en: 524 registros donde _kaggle está vacío
 Notes
_kaggle aporta en: 14 registros donde _extra está vacío
_extra aporta en: 458 registros donde _kaggle está vacío
 Start_year
_kaggle aporta en: 14 registros donde _extra está vacío
_extra aporta en: 461 registros donde _kaggle está vacío
 End_year
_kaggle aporta en: 16 registros donde _extra está vacío
_extra aporta en: 457 registros donde _kaggle está vacío

In [101]:
#consolidamos las columnas rellenando los datos faltantes de una columna y otra y eliminamos
columnas_a_consolidar = ['Country', 'Proven_victims', 'Possible_victims', 'Notes', 'Start_year', 'End_year']

for col in columnas_a_consolidar:
    df_final[col] = df_final[f"{col}_extra"].combine_first(df_final[f"{col}_kaggle"])
    df_final.drop(columns=[f"{col}_kaggle", f"{col}_extra"], inplace=True)

In [102]:
#calculamos los registros faltates de Years_active 
df_final['Years_active'] = df_final['End_year'] - df_final['Start_year']
#y pasamos posibles victimas a numerico
df_final['Possible_victims'] = pd.to_numeric(df_final['Possible_victims'], errors='coerce')

In [103]:
#Como ya sabemos que Name es un id unico vamos a filtrar los asesinos de los que solo tenemos esa informacion para poder eliminarlos.
solo_nombre = df_final.drop(columns='Name').isnull().all(axis=1)
df_final = df_final[~solo_nombre].reset_index(drop=True)
print(f"Se eliminaron {solo_nombre.sum()} registros con solo el nombre.")

Se eliminaron 1 registros con solo el nombre.

In [104]:
#volvemos a ver los nulos por columnas
print("\nValores nulos por columna:")
print(df_new_killers.isnull().sum())

Valores nulos por columna:
Name                  0
Country              28
Start_year           28
End_year             34
Proven_victims       28
Possible_victims     28
Notes                31
Nicknames           341
Age                 558
Born_Date           374
Born_Location       397
Died_Date           498
Died_Location       569
Conviction          320
Criminal_Penalty    249
Date_Apprehended    287
dtype: int64

In [105]:
#La columna country es importante, vamos a pasar a limpiarla y a procesar los nulos.
#podemos usar Born_location para imputar los nulos de country
filtro = df_final['Country'].isnull() & df_final['Born_Location'].notnull()
#Sacamos el país que es la ultima parte de string
df_final.loc[filtro, 'Country'] = df_final.loc[filtro, 'Born_Location'].apply(lambda x: x.split(',')[-1].strip())
# Verificar cuántos se completaron
completados = filtro.sum()
print(f" País estimado desde Born_Location en {completados} registros.")
df_final['Country'].value_counts()
#DE nuevo encontramos paises que esta en una lista, repetimos el codigo que ejecutamos anteriormente para hacer registro unico por asesino y pais y luegos nos quedamos con la primera aparicion, las medas las aliminamos.
#Separamos los países multiples por coma y explotamos las filas
df_final['Country'] = df_final['Country'].str.split(',')
df_final = df_final.explode('Country')
#eliminamos espacios en blanco
df_final['Country'] = df_final['Country'].str.strip()
#dejamos solo una fila por asesino
df_final = df_final.drop_duplicates(subset='Name', keep='first').reset_index(drop=True)
#Pasamos a normalizar los paises, que hay mucho valores inconsistentes. Primero creamos un diccionario que le he pedido a chat gepete que me haga porque esto es perder la vida
normalizacion_paises = {
    # Variantes y abreviaturas
    "USA": "United States",
    "US": "United States",
    "United States of America": "United States",
    "United States of Brazil": "Brazil",
    "Rio de Janeiro": "Brazil",
    "So Paulo": "Brazil",
    "Mxico": "Mexico",
    "Uk": "United Kingdom",
    "UK": "United Kingdom",
    "England": "United Kingdom",
    "Scotland": "United Kingdom",
    "Ontario Canada": "Canada",
    "Territory of Hawaii": "United States",
    "British Hong Kong": "Hong Kong",
    "Imperial State of Iran": "Iran",

    # Históricos o alternativos
    "Allied-occupied Germany": "Germany",
    "West Germany": "Germany",
    "East Germany": "Germany",
    "Nazi Germany": "Germany",
    "German Empire, Germany": "Germany",
    "Soviet Union": "Russia",
    "Soviet Union, Russia": "Russia",
    "Soviet Union, Ukraine": "Ukraine",
    "Soviet Union, Russia, Ukraine": "Russia",
    "Uzbek SSR": "Uzbekistan",
    "UkSSR": "Ukraine",
    "Ottoman Empire": "Turkey",
    "centuryOttoman Empire": "Turkey",
    "Austria-Hungary": "Austria",
    "Austro-Hungarian Empire": "Austria",
    "Czechoslovakia": "Czech Republic",
    "SR Croatia": "Croatia",
    "SR Slovenia": "Slovenia",
    "Yugoslavia": "Serbia",
    "Kingdom of Yugoslavia": "Serbia",
    'Kingdom of Romania': 'Romania',
    "Kingdom of Romania, Yugoslavia, Hungary": "Romania",
    "Cape Colony": "South Africa",

    # Errores o indefinidos
    "TaeiIraq": "Iraq"
}
# Ejecutamos el diccionario 
df_final['Country'] = df_final['Country'].replace(normalizacion_paises)

print("Países únicos después de normalizar:")
print(sorted(df_final['Country'].dropna().astype(str).unique()))

 País estimado desde Born_Location en 16 registros.
Países únicos después de normalizar:
['Afghanistan', 'Argentina', 'Australia', 'Austria', 'Bangladesh', 'Belarus', 'Belgian Congo', 'Belgium', 'Belize', 'Brazil', 'Canada', 'Chile', 'China', 'Colombia', 'Costa Rica', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Ecuador', 'Egypt', 'Estonia', 'Finland', 'France', 'German Empire', 'Germany', 'Greece', 'Guatemala', 'Hong Kong', 'Hungary', 'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Italy', 'Japan', 'Kenya', 'Latvia', 'Malaysia', 'Mexico', 'Morocco', 'Namibia', 'Netherlands', 'Norway', 'Pakistan', 'Panama', 'Peru', 'Poland', 'Portugal', 'Republic of Macedonia', 'Romania', 'Russia', 'Rwanda', 'Serbia', 'Singapore', 'Slovenia', 'South Africa', 'South Korea', 'Spain', 'Sri Lanka', 'Swaziland', 'Sweden', 'Switzerland', 'Thailand', 'Tunisia', 'Turkey', 'Ukraine', 'United Kingdom', 'United States', 'Uzbekistan', 'Venezuela', 'Yemen', 'Zambia', 's Republic']

In [110]:
#continuamos filtrando los asesinos que tiene valores chungos en la columna país
# Filtrar asesinos con Country en los valores problemáticos
valores_chungos = ['s Republic']
df_chungos = df_final[df_final['Country'].isin(valores_chungos)]
display(df_chungos)

,Name,Years_active,Nicknames,Age,Born_Date,Born_Location,Died_Date,Died_Location,Conviction,Criminal_Penalty,Date_Apprehended,Country,Proven_victims,Possible_victims,Notes,Start_year,End_year
694,Tadeusz Grzesik,NaN,"Strawberry, Killer",NaN,NaN,s Republic,NaN,NaN,Murder,life imprisonment,2007-01-01,s Republic,NaN,NaN,NaN,NaN,NaN

In [111]:
#Imputamos los datos faltantes de este asesino con datos de wikipedia:
df_final.loc[df_final['Name'] == 'Tadeusz Grzesik', [
    'Nicknames', 'Conviction', 'Criminal_Penalty', 'Country',
    'Proven_victims', 'Possible_victims', 'Start_year', 'End_year',
    'Born_Date', 'Born_Location', 'Notes'
]] = [
    'Strawberry',                        # Nicknames
    'Murder',                            # Conviction
    'Life imprisonment',                 # Criminal_Penalty
    'Poland',                            # Country
    8,                                   # Proven_victims
    20,                                  # Possible_victims
    1991,                                # Start_year
    2007,                                # End_year
    '1960-01-01',                        # Born_Date
    'Wola Jachowa, Poland',              # Born_Location
    'A Polish strawberry grower and serial killer, known as "Strawberry" and "Killer". He led the Moneychangers Gang']

#verificamos
df_final[df_final['Name'] == 'Tadeusz Grzesik']

,Name,Years_active,Nicknames,Age,Born_Date,Born_Location,Died_Date,Died_Location,Conviction,Criminal_Penalty,Date_Apprehended,Country,Proven_victims,Possible_victims,Notes,Start_year,End_year
694,Tadeusz Grzesik,NaN,Strawberry,NaN,1960-01-01,"Wola Jachowa, Poland",NaN,NaN,Murder,Life imprisonment,2007-01-01,Poland,8.0,20.0,"A Polish strawberry grower and serial killer, ...",1991.0,2007.0

In [112]:
# Filtrar registros con Country nulo
nulos_country = df_final[df_final['Country'].isnull()]
display(nulos_country)

,Name,Years_active,Nicknames,Age,Born_Date,Born_Location,Died_Date,Died_Location,Conviction,Criminal_Penalty,Date_Apprehended,Country,Proven_victims,Possible_victims,Notes,Start_year,End_year
11,Adolfo Constanzo,NaN,The Godfather of Matamoros (El Padrino de Mata...,26.0,1962-11-01,NaN,1989-05-06,"Mexico City, Mexico",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,Charlie Chop-Off,NaN,"The Mad Barber, The Pied Piper of Manhattan",NaN,NaN,NaN,NaN,NaN,Never Convicted,Never sentenced,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,Dean Corll,NaN,"The Cy Man, The Pied Piper",33.0,1939-12-24,NaN,1973-08-08,NaN,Murder,Unattributable Due To Death,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,Ian Brady,NaN,The Moors Murderers,79.0,1938-01-02,NaN,2017-05-15,NaN,Murder,life imprisonment (whole life tariff),1965-10-07,NaN,NaN,NaN,NaN,NaN,NaN
333,Jason Thornburg,NaN,NaN,NaN,1980-08-27,NaN,NaN,NaN,Murder,death,NaN,NaN,NaN,NaN,NaN,NaN,NaN
351,John Allen Muhammad,NaN,"The Beltway Sniper, The D.C. Sniper",48.0,1960-12-31,NaN,2009-11-10,NaN,Capital Murder,death,2002-10-24,NaN,NaN,NaN,NaN,NaN,NaN
426,Leonard Lake,NaN,"Leonard Hill, Leonard Blake, Alan Drey, Tom Me...",39.0,1945-10-29,NaN,1985-06-06,NaN,Murder,NaN,1985-06-02,NaN,NaN,NaN,NaN,NaN,NaN
584,Raya And Sakina,NaN,NaN,NaN,NaN,NaN,NaN,Egypt,Murder,death,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Gestión de nulos

In [113]:
#Ver nulos por columna
total = len(df_final)
nulos_df = pd.DataFrame({
    'Nulos': df_final.isnull().sum(),
    'Porcentaje': (df_final.isnull().sum() / total * 100).round(2)}).sort_values(by='Nulos', ascending=False)
print("Nulos y porcentaje por columna:")
print(nulos_df)

Nulos y porcentaje por columna:
                  Nulos  Porcentaje
Died_Location       579       73.29
Age                 568       71.90
Died_Date           508       64.30
Born_Location       407       51.52
Born_Date           383       48.48
Nicknames           351       44.43
Conviction          330       41.77
Date_Apprehended    297       37.59
Criminal_Penalty    259       32.78
Possible_victims     32        4.05
Years_active         28        3.54
End_year             27        3.42
Notes                26        3.29
Proven_victims       23        2.91
Start_year           23        2.91
Country               8        1.01
Name                  0        0.00

In [114]:
#columnas como la ubicacion de nacimiento y muerte, tiene un alto porcentaje de nulos y no las vemos útiles para el analisis. 
#Decidimos borrarlas, pues ya las usamos para extraer datos interesantes como pais
df_final.drop(columns=['Died_Location', 'Born_Location'], inplace=True)

In [116]:
#Posible_victims y Proven_victims son esenciales para el analisis por lo que pasamos a borrar los registros que no tienen esos datos.
registros_sin_victimas = df_final['Proven_victims'].isnull() & df_final['Possible_victims'].isnull()
df_final = df_final[~registros_sin_victimas].reset_index(drop=True)
#comprobamos viendo de nuevo los nulos.
filtro = df_final['Proven_victims'].isnull() | df_final['Possible_victims'].isnull()
df_final.loc[filtro, ['Name', 'Proven_victims', 'Possible_victims']]

                 Name  Proven_victims  Possible_victims
39     Anatoly Sedykh            12.0               NaN
50   Angelo Buono Jr.            10.0               NaN
202      El Psicopata            19.0               NaN
264    Giuseppe Greco            58.0               NaN
338      John Bunting            11.0               NaN
359  Jose Paz Bezerra            20.0               NaN
556    Rainbow Maniac            13.0               NaN
599     Robert Wagner            10.0               NaN
671     Surinder Koli            19.0               NaN

In [117]:
#Le paso nos nombre a chat gepete y le pido que busque informacion sobres las posibles victimas. 
#Tras la búsqueda decidimos que los asesinos que  no tenemos datos concisos se sustituya el nulo por 0 y en los casos que si tengamos datos se tomen esos datos para imputar los nulos.
df_final.loc[df_final['Name'] == 'José Paz Bezerra', ['Possible_victims']] = [24]
df_final.loc[df_final['Name'] == 'Rainbow Maniac', ['Possible_victims']] = [16]
df_final['Possible_victims'] = df_final['Possible_victims'].fillna(0)

In [118]:
#Volvemos a revisar nulos por columna
total = len(df_final)
nulos_df = pd.DataFrame({
    'Nulos': df_final.isnull().sum(),
    'Porcentaje': (df_final.isnull().sum() / total * 100).round(2)}).sort_values(by='Nulos', ascending=False)
print("Nulos y porcentaje por columna:")
print(nulos_df)

Nulos y porcentaje por columna:
                  Nulos  Porcentaje
Age                 552       71.97
Died_Date           494       64.41
Born_Date           372       48.50
Nicknames           338       44.07
Conviction          327       42.63
Date_Apprehended    286       37.29
Criminal_Penalty    254       33.12
Years_active          5        0.65
End_year              4        0.52
Notes                 3        0.39
Name                  0        0.00
Country               0        0.00
Proven_victims        0        0.00
Possible_victims      0        0.00
Start_year            0        0.00

In [119]:
#Queremos ver los asesinos que tiene vacio el registro de years_active
nulos_year = df_final[df_final['Years_active'].isnull()]
print(nulos_year.shape[0])
display(nulos_year)

5

,Name,Years_active,Nicknames,Age,Born_Date,Died_Date,Conviction,Criminal_Penalty,Date_Apprehended,Country,Proven_victims,Possible_victims,Notes,Start_year,End_year
19,Alejandro Maynez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mexico,2.0,50.0,"Killed at least two women in Ciudad Juárez, bu...",1980.0,NaN
74,Baba Anujka,NaN,"The Banat Witch, The Witch of Vladimirovac",NaN,NaN,NaN,Murder,15 years imprisonment with hard labour,1928-06-01,Serbia,50.0,150.0,Anujka was an accomplished amateur chemist fro...,1899.0,NaN
341,John Duffy And David Mulcahy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United Kingdom,3.0,100.0,"Known as the ""Railway Rapists"". Duffy and Mulc...",1982.0,NaN
494,Murder Incorporated,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United States,400.0,1000.0,Murder Incorporated or Murder Inc. for short w...,1920.0,NaN
672,Tadeusz Grzesik,NaN,Strawberry,NaN,1960-01-01,NaN,Murder,Life imprisonment,2007-01-01,Poland,8.0,20.0,"A Polish strawberry grower and serial killer, ...",1991.0,2007.0

In [120]:
#5 registros de End_year y start_year son asumibles. Pido a chat gepete que busque la info para esos asesinos, e imputar asi esos datos.
df_final.loc[df_final['Name'] == 'Baba Anujka', 'End_year'] = 1928
df_final.loc[df_final['Name'] == 'John Duffy and David Mulcahy', 'End_year'] = 1986
df_final.loc[df_final['Name'] == 'Murder Incorporated', 'End_year'] = 1940
df_final.loc[df_final['Name'] == 'Abboud and Khajawa', 'Start_year'] = 1917

In [121]:
#Combinando las columnas years_active, start_year y end_year podemos intentar completar los datos nulos de las mismas
# Rellenar Years_active si está vacío y hay Start y End
df_final['Years_active'] = df_final['Years_active'].fillna(df_final['End_year'] - df_final['Start_year'])

#Podemos seguir la misma estrategia con las columnas Age, Born_Date y Died_Date 
def calcular_edad(born, died):
    try:
        born = pd.to_datetime(born, errors='coerce')
        died = pd.to_datetime(died, errors='coerce')
        if pd.notnull(born) and pd.notnull(died):
            return died.year - born.year
        else:
            return None
    except:
        return None

df_final['Age_calculada'] = df_final.apply(lambda row: calcular_edad(row['Born_Date'], row['Died_Date']),axis=1)
df_final['Age'] = df_final['Age'].fillna(df_final['Age_calculada'])
df_final.drop(columns='Age_calculada', inplace=True)

In [122]:
#Volvemos a revisar nulos por columna
total = len(df_final)
nulos_df = pd.DataFrame({
    'Nulos': df_final.isnull().sum(),
    'Porcentaje': (df_final.isnull().sum() / total * 100).round(2)}).sort_values(by='Nulos', ascending=False)
print("Nulos y porcentaje por columna:")
print(nulos_df)

Nulos y porcentaje por columna:
                  Nulos  Porcentaje
Age                 552       71.97
Died_Date           494       64.41
Born_Date           372       48.50
Nicknames           338       44.07
Conviction          327       42.63
Date_Apprehended    286       37.29
Criminal_Penalty    254       33.12
Notes                 3        0.39
Years_active          2        0.26
End_year              2        0.26
Name                  0        0.00
Country               0        0.00
Proven_victims        0        0.00
Possible_victims      0        0.00
Start_year            0        0.00

In [123]:
# Eliminar columnas que tienen muchos nulos pues tras hablar con la PO nos anima a borrar los datos que no vamos a usar en nuestro análisis
df_final.drop(columns=['Age', 'Died_Date', 'Born_Date', 'Date_Apprehended'], inplace=True)

In [124]:
#reordenar columnas
column_order = ["Name", "Nicknames", "Country", "Proven_victims", "Possible_victims", "Years_active", "Start_year", "End_year", "Conviction", "Criminal_Penalty", "Notes"]
df_final = df_final[column_order]

Vemos que nuestro data set es un tanto escaso y decidimos completar con información haciendo un web scraping del sexo de los asesinos así como de las armas utilizadas.

In [125]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 767 entries, 0 to 766
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              767 non-null    object
 1   Nicknames         429 non-null    object
 2   Country           767 non-null    object
 3   Proven_victims    767 non-null    float64
 4   Possible_victims  767 non-null    float64
 5   Years_active      765 non-null    float64
 6   Start_year        767 non-null    float64
 7   End_year          765 non-null    float64
 8   Conviction        440 non-null    object
 9   Criminal_Penalty  513 non-null    object
 10  Notes             764 non-null    object
dtypes: float64(5), object(6)
memory usage: 66.0+ KB

In [126]:
df_scrapeo1 = pd.read_csv('Primary-data/scrapeo1.csv')

In [127]:
df_scrapeo1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 769 entries, 0 to 768
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    769 non-null    object
 1   Weapon  769 non-null    object
 2   Gender  769 non-null    object
dtypes: object(3)
memory usage: 18.2+ KB

In [130]:
#Vamos a unir los dos dataframes y aunque ya lo hicimos antes, normalizamos la columna name con nuestra super funcion 
# para estar bien seguras de que los datos son consistentes antes de hacer el merge.
df_final["Name"] = df_final["Name"].apply(limpiar_nombres)
df_scrapeo1["Name"] = df_scrapeo1["Name"].apply(limpiar_nombres)
#hacemos un left merge porque nos interesan mantener todos los asesinos de df_final que es el más completo.
df_completo = pd.merge(df_final, df_scrapeo1, on="Name", how="left")
#y revisamos nulos tras el merge
print(df_completo.isna().sum())

Name                  0
Nicknames           338
Country               0
Proven_victims        0
Possible_victims      0
Years_active          2
Start_year            0
End_year              2
Conviction          327
Criminal_Penalty    254
Notes                 3
Weapon                5
Gender                5
dtype: int64

In [131]:
# Filtra los registros donde Weapon o Gender sean nulos
nulos_weapon_gender = df_completo[df_completo["Weapon"].isna() | df_completo["Gender"].isna()]

# Muestra resultados
print(f"Registros con NaN en Weapon o Gender: {nulos_weapon_gender.shape[0]}")
display(nulos_weapon_gender)

Registros con NaN en Weapon o Gender: 5

,Name,Nicknames,Country,Proven_victims,Possible_victims,Years_active,Start_year,End_year,Conviction,Criminal_Penalty,Notes,Weapon,Gender
0,,NaN,United Kingdom,3.0,3.0,1.0,1968.0,1969.0,NaN,NaN,Unidentified serial killer who murdered three ...,NaN,NaN
347,"John Justin Bunting, Robert Joe Wagner And Jam...",NaN,Australia,12.0,12.0,7.0,1992.0,1999.0,NaN,NaN,The bodies of eight victims were found in plas...,NaN,NaN
390,Killer,NaN,Japan,12.0,12.0,9.0,1985.0,1994.0,NaN,NaN,Unidentified serial killer who carried out a s...,NaN,NaN
627,Satish,The Bahadurgarh baby killer,India,10.0,10.0,3.0,1995.0,1998.0,"Murder, Rape",Life sentence,Killed 10 girls who were between the ages of f...,NaN,NaN
647,Silvia Merez Cult,The Human Sacrifices Sect of Nacozari,Mexico,3.0,3.0,3.0,2009.0,2012.0,NaN,life imprisonment,Ritually murdered three people in sacrifices t...,NaN,NaN

In [132]:
#dedicimos eliminarlos por la ausencia de valores clave
df_completo = df_completo.dropna(subset=["Weapon", "Gender"], how="all")

In [133]:
#Vemos los valores unicos de weapon para poder establecer categorias para que sea más facil el analisis en tableau
valores_weapon = sorted(df_completo["Weapon"].dropna().unique())
for weapon in valores_weapon:
    print(weapon)

arsenic
arsenic, hanging
arsenic, injected
axe
axe, hammer, fire
axe, hanging
axe, hatchet, hanged
axe, strangled, strangulation, garrote
bat, strangled, hanged
beaten
beaten, strangled
beheaded, car
blunt object
blunt object, club, car, vehicle, truck
blunt object, club, fire, hanged
blunt object, poison, bomb, tortured, chemical
blunt object, strangled, burnt
blunt object, strangled, drowning, truck
blunt object, strangled, strangulation, car, vehicle, truck
burned
burned, hanged, hanging, car
burned, tortured
car
car, truck
car, vehicle
car, vehicle, chemical
car, vehicle, truck, tortured
chemical
choked
choked, drowned, car
choked, smothered, car
club
club, fire
club, poison, poisoned, arsenic, burned
club, strangled, burned, hanged
club, strangled, injected, car, tortured
club, strangulation, garrote, car, vehicle, tortured
club, strangulation, hanged, car
club, vehicle, truck, tortured
cyanide
decapitated
drowned
drowned, acid
drowning
drugs
explosives, car, tortured
fire
fire, acid
fire, burned, car
fire, burned, drowning, car, vehicle
fire, burnt
fire, car
fire, drowned, drowning, smothered
fire, drowning, vehicle
fire, vehicle
firearm, blunt object, hammer, car
firearm, car, vehicle
firearm, hanging
firearm, knife, strangled, strangulation, hanged, car
firearm, pistol, shot
firearm, revolver, pistol, shot, blunt object, hammer, club, strangulation, car, vehicle, truck
firearm, shooting
firearm, shooting, knife, stabbed, stabbing, strangled, strangulation, drowned, drowning, tortured
firearm, shooting, strangulation, fire, vehicle
firearm, shot
firearm, shot, machete, strangulation, fire, decapitated, car
firearm, shot, shooting
firearm, shot, shooting, fire, car
firearm, stabbed, strangled, hanged
firearm, strangled, strangulation
garrote
grenade, hanging
gun, car
gun, car, truck
gun, club, strangled, strangulation
gun, fire, car, vehicle
gun, fire, car, vehicle, tortured
gun, firearm, pistol, shot, blunt object, club, car
gun, firearm, pistol, shot, knife, stabbing, car, vehicle
gun, firearm, pistol, shot, knife, strangled, strangulation, suffocated, hanging, car
gun, firearm, pistol, shot, shooting, knife, cyanide, burned, explosives, hanging, car, tortured
gun, firearm, pistol, shot, strangulation
gun, firearm, pistol, shot, strangulation, fire, burned, hanging, car, vehicle
gun, firearm, revolver, pistol, shot, shooting, car, vehicle
gun, firearm, revolver, pistol, strangled, choked, fire, car, vehicle, truck, tortured
gun, firearm, shooting
gun, firearm, shot, choked
gun, firearm, shot, hammer, strangulation, fire, car, vehicle, tortured
gun, firearm, shot, shooting, explosives
gun, firearm, shot, shooting, knife, stabbed, club, fire, car, vehicle
gun, firearm, shot, shooting, stabbed, hammer, explosives, truck
gun, hanging
gun, knife, stabbed, hanged
gun, knife, stabbed, stabbing, razor, decapitated
gun, knife, stabbed, strangled, hanging, car
gun, knife, stabbed, strangled, strangulation, suffocated, smothered, car, tortured
gun, knife, strangled, tortured
gun, knife, strangulation, fire, car, tortured
gun, machete, poisoned, fire, tortured
gun, pistol, knife, strangled, burned, car, vehicle, truck, tortured
gun, pistol, shooting, knife, stabbed, choked, suffocated, car, truck
gun, pistol, shot, knife, club, grenade
gun, pistol, shot, knife, fire, car
gun, pistol, shot, knife, smothered, car, vehicle, truck
gun, pistol, shot, knife, stabbed, axe, hanged, car
gun, pistol, shot, shooting
gun, pistol, shot, shooting, car
gun, pistol, shot, shooting, fire, burned
gun, pistol, shot, shooting, fire, car, truck
gun, pistol, shot, shooting, knife, club, drowned, vehicle, tortured, chemical
gun, pistol, shot, shooting, knife, stabbed, stabbing, poison, poisoned, fire, hanged, car, truck, acid
gun, pistol, shot, stabbed
gun, revolver, pistol, shot, shooting, club, hanging, car, vehicle, tortured
gun, revolver, pistol, shot, shooting, knife, stabbed, car, truck
gun, revolver, pistol, shot, shooting, vehicle, truck
gun, revolver, razor, burned, tortured
gun, revolver, shot, shooting, knife, stabbed, hammer, truck, tortured
gun, revolver, shot, shooting, strangulation, car, truck
gun, revolver, shot, strangled, hanged
gun, shooting, knife, strangled, strangulation, choked, poison, cyanide, burned, bomb, car, truck, chemical
gun, shot
gun, shot, knife, axe, hanging
gun, shot, knife, hammer, fire, burned, car
gun, shot, knife, stabbed, hanging
gun, shot, shooting
gun, shot, shooting, axe
gun, shot, shooting, burned, car
gun, shot, shooting, car
gun, shot, shooting, club, car, truck
gun, shot, shooting, fire, burned, decapitated, truck
gun, shot, shooting, fire, car
gun, shot, shooting, knife
gun, shot, shooting, knife, beat to death, car
gun, shot, shooting, knife, stabbed, axe, club, strangled, fire, drowned, car
gun, shot, shooting, stabbed, car
gun, shot, shooting, stabbed, fire, decapitated, hanged, hanging, car, disemboweled
gun, shot, shooting, stabbed, stabbing, axe, hatchet, hammer, strangled, hanged, hanging, car, vehicle
gun, shot, shooting, stabbed, stabbing, strangled, drowned, bomb, decapitated, car
gun, shot, shooting, strangled, car
gun, shot, shooting, strangled, explosives, bomb, car, tortured, acid
gun, shot, stabbed, burnt, car, vehicle
gun, shot, stabbed, stabbing, club, strangled, strangulation, fire, drowned, decapitated, hanging, car, vehicle, truck
gun, shot, stabbed, strangled, burned, drowned, car, vehicle, truck
gun, shot, stabbed, strangled, suffocated, car, truck
gun, shot, vehicle, truck
gun, strangled, fire, hanged
gun, strangled, hanging, tortured
gun, strangled, poison, vehicle, truck
gun, strangulation
gun, suffocated
gunshot
hammer
hammer, bat, car, truck
hammer, burned
hammer, choked, truck
hammer, club, strangled, hanging, car
hammer, hanged
hammer, hanged, hanging
hammer, hanged, hanging, car, vehicle, tortured, disemboweled
hammer, strangled
hammer, strangled, fire, burned, hanged
hammer, strangled, hanged, car, vehicle
hammer, strangulation, car, vehicle
hanged
hanged, hanging
hanging
hanging, car
hanging, tortured
injected
injected, decapitated, car, tortured
injected, fire
knife
knife, bat, club, strangled, suffocated
knife, bat, fire
knife, bat, strangled, decapitated, acid
knife, blunt object, strangled, car
knife, car
knife, choked
knife, club, strangled, hanging, car
knife, club, strangled, strangulation, car
knife, cyanide, fire, tortured
knife, decapitated, beheaded, hanged, truck
knife, drowned
knife, drowned, hanging, car
knife, fire
knife, fire, burned, decapitated, beheaded, tortured, chemical
knife, garrote, fire, burned
knife, hammer
knife, hanged, tortured
knife, poison, bomb
knife, razor, club, strangled, hanged
knife, stabbed
knife, stabbed, axe, club, strangled, hanged, car
knife, stabbed, axe, strangled
knife, stabbed, bat, choked, fire, drowned, hanging, truck
knife, stabbed, bat, vehicle, truck
knife, stabbed, car
knife, stabbed, car, vehicle
knife, stabbed, club, car
knife, stabbed, hammer, hanging, car
knife, stabbed, hammer, hanging, car, vehicle
knife, stabbed, hatchet, strangled, choked, bomb
knife, stabbed, stabbing
knife, stabbed, stabbing, burned, tortured, acid
knife, stabbed, stabbing, car
knife, stabbed, stabbing, razor, strangled, decapitated, car, tortured
knife, stabbed, stabbing, strangled, choked, burned, decapitated, tortured
knife, stabbed, stabbing, strangulation, choked, drowned, drowning, car, vehicle, tortured
knife, stabbed, stabbing, truck
knife, stabbed, strangled
knife, stabbed, strangled, burned, hanged, hanging, car, truck
knife, stabbed, strangled, car
knife, stabbed, strangled, choked, hanging
knife, stabbed, strangled, suffocated, tortured
knife, stabbed, strangled, vehicle, truck
knife, stabbed, strangulation, choked
knife, stabbed, vehicle, truck, disemboweled
knife, stabbing, axe, strangled, decapitated, car, truck
knife, stabbing, fire
knife, stabbing, strangled, choked
knife, stabbing, strangulation, decapitated, hanged
knife, strangled
knife, strangled, car
knife, strangled, strangulation, fire, set on fire, car
knife, strangulation, car
knife, strangulation, hanging, truck
knife, tortured
machete, hanged
pistol, burned, car, vehicle
pistol, cyanide, injected, fire, grenade, car
pistol, knife, stabbed, machete, truck
pistol, knife, stabbing, fire, burned, vehicle, tortured
pistol, knife, stabbing, strangled, car
pistol, shooting, stabbed, burnt, tortured
pistol, shot
pistol, shot, car
pistol, shot, car, vehicle
pistol, shot, choked, car, truck
pistol, shot, club, fire, set on fire, vehicle
pistol, shot, hammer, strangled, beheaded, car
pistol, shot, knife, stabbed, stabbing, strangled, strangulation, car, vehicle, tortured
pistol, shot, shooting, fire
pistol, shot, shooting, hammer, car, vehicle
pistol, shot, shooting, knife, stabbed, hatchet, club, poisoned, cyanide, beat to death, car, vehicle, tortured
pistol, shot, shooting, knife, stabbed, stabbing, machete, hammer, strangled, decapitated, hanging, car, tortured
pistol, shot, shooting, run over, car, vehicle
pistol, shot, shooting, stabbed, bat, hanging, car, vehicle
pistol, shot, shooting, vehicle
pistol, shot, stabbed, bat, car, disemboweled
pistol, shot, stabbed, car
pistol, shot, stabbed, car, vehicle
pistol, shot, stabbed, strangled, strangulation, car
pistol, shot, strangled, fire, burned, explosives, hanging, car
pistol, shot, strangled, vehicle, truck
pistol, stabbed, car
poison
poison, arsenic, burned
poison, arsenic, chemical
poison, arsenic, chloroform
poison, arsenic, drowned, car
poison, arsenic, drowned, run over, car
poison, arsenic, hanged
poison, arsenic, hanged, hanging
poison, drowned, drowning, hanged
poison, hanged, hanging, acid
poison, injected, fire, burned, car
poison, poisoned
poison, poisoned, arsenic
poison, poisoned, arsenic, car
poison, poisoned, arsenic, chemical
poison, poisoned, arsenic, hanged
poison, poisoned, cyanide
poison, poisoned, cyanide, car
poison, poisoned, injected
poison, truck, acid
poisoned
poisoned, arsenic, cyanide
poisoned, injected
poisoned, injected, acid
razor
razor, club, strangled, strangulation, hanged, run over, car, vehicle
razor, poison, burnt, drowned
razor, vehicle
revolver, club
revolver, drowned, drowning, hanged, car, vehicle
revolver, pistol, shot
revolver, pistol, shot, shooting, knife, stabbed, razor, fire, decapitated, hanged, car, vehicle, truck, tortured
revolver, pistol, shot, stabbing, strangled, burned, drowned, hanging, tortured
revolver, shooting
revolver, shot
revolver, shot, burned
revolver, shot, hammer, suffocated, drowned, car
revolver, shot, hanged, car, acid
revolver, shot, knife, stabbed, truck
revolver, shot, suffocated, car, vehicle, tortured
revolver, shot, truck
shooting
shooting, car
shooting, club
shooting, club, fire, hanged, hanging
shooting, club, strangled, car, vehicle
shooting, hammer
shooting, hatchet, strangled
shooting, knife, stabbing, axe, blunt object, hammer
shooting, machete, truck
shooting, poison
shooting, razor, hanged, hanging, car
shooting, stabbed, strangled, car, vehicle
shooting, stabbed, tortured
shooting, stabbing
shooting, stabbing, car
shooting, strangled
shooting, vehicle
shot
shot, axe
shot, axe, hammer, fire, burned, sawed, car, tortured
shot, axe, hatchet, bomb, hanged
shot, axe, hatchet, car, chemical
shot, axe, hatchet, razor
shot, axe, strangulation, car, vehicle, truck
shot, car
shot, club
shot, club, strangled, strangulation, decapitated, car
shot, decapitated
shot, fire, burned, decapitated
shot, hammer, strangled, drowned
shot, knife
shot, knife, axe, strangled, burnt, decapitated, hanged, car, tortured
shot, knife, drowning, hanged, hanging
shot, knife, hammer
shot, knife, hammer, strangled, burned, hanged, hanging
shot, knife, hanging
shot, knife, stabbed, blunt object, fire, sawed
shot, knife, stabbed, car, vehicle
shot, knife, stabbed, car, vehicle, truck, tortured
shot, knife, stabbed, stabbing, axe, hammer, poison, poisoned, drowned, explosives, bomb, beat to death, truck, tortured
shot, knife, stabbed, stabbing, razor, sawed
shot, knife, stabbing
shot, knife, truck, disemboweled
shot, poison, poisoned, arsenic, car
shot, shooting, car
shot, shooting, car, tortured
shot, shooting, car, vehicle
shot, shooting, fire
shot, shooting, fire, car, tortured
shot, shooting, knife, stabbed, fire, burned, hanged, car, truck
shot, shooting, knife, stabbed, fire, car, tortured
shot, shooting, knife, stabbed, stabbing, drowned, drowning, car, truck
shot, shooting, knife, stabbed, stabbing, hanging, car, vehicle
shot, shooting, knife, stabbed, strangled, decapitated
shot, shooting, stabbed, axe, strangled, fire, burned, bomb
shot, shooting, stabbed, strangled, garrote, fire, car, tortured
shot, shooting, strangulation, suffocated, hanged, hanging, tortured
shot, stabbed
shot, stabbed, axe, fire
shot, stabbed, choked, vehicle, truck
shot, stabbed, hammer, car, acid
shot, stabbed, strangled, choked, car
shot, stabbed, strangled, hanging, car
shot, stabbed, strangled, strangulation, fire, burned, set on fire, car
shot, stabbing, car, vehicle
shot, strangled
shot, strangled, car
shot, strangled, fire, burned, decapitated, car, vehicle, truck
shot, strangled, hanged, car
shot, strangled, strangulation, choked
shot, strangled, suffocated, chloroform, drowning, car, vehicle
shotgun
smothered
stabbed
stabbed, axe, car
stabbed, axe, fire, burned, bomb
stabbed, blunt object, strangled, car
stabbed, burned, decapitated
stabbed, car
stabbed, car, truck
stabbed, club, car
stabbed, club, strangled, strangulation, burned, car, vehicle, tortured
stabbed, club, strangled, strangulation, cyanide, hanging, car
stabbed, club, strangulation, suffocated, car, vehicle
stabbed, hammer, club, drowned, decapitated, car
stabbed, hanged, vehicle, truck
stabbed, hanging
stabbed, run over, car, tortured
stabbed, smothered
stabbed, stabbing
stabbed, stabbing, axe, strangled, decapitated
stabbed, stabbing, car, vehicle
stabbed, stabbing, club, fire, car
stabbed, stabbing, drowning
stabbed, stabbing, hammer, car, vehicle
stabbed, stabbing, machete
stabbed, stabbing, strangulation, garrote, cyanide, tortured
stabbed, strangled
stabbed, strangled, car
stabbed, strangled, car, vehicle
stabbed, strangled, choked, bomb
stabbed, strangled, drowned
stabbed, strangled, fire
stabbed, strangled, fire, car, chemical
stabbed, strangled, garrote, hanged, car
stabbed, strangled, truck
stabbed, strangulation, car
stabbed, strangulation, fire, set on fire
stabbed, suffocated, burned, drowned, tortured
stabbed, tortured
stabbing
stabbing, beheaded, hanging
stabbing, car
stabbing, car, truck
stabbing, club
stabbing, hammer, burned
strangled
strangled, burned
strangled, burned, acid, chemical
strangled, burned, drowned
strangled, burned, smothered, car
strangled, burnt
strangled, car
strangled, car, vehicle
strangled, choked, car, vehicle, truck
strangled, drowned
strangled, drowning, decapitated
strangled, fire
strangled, fire, burned, burnt, car
strangled, fire, burned, drowning, decapitated, vehicle
strangled, fire, car
strangled, fire, car, chemical
strangled, fire, sawed
strangled, fire, tortured
strangled, garrote, car
strangled, hanged
strangled, hanged, car
strangled, hanged, car, vehicle
strangled, hanged, hanging
strangled, hanged, hanging, truck
strangled, hanging, tortured
strangled, poison
strangled, poisoned, burned, burnt, drowned, drowning, car, vehicle
strangled, smothered, car
strangled, smothered, car, truck
strangled, stabbed
strangled, strangulation
strangled, strangulation, burned, drowning, car
strangled, strangulation, car
strangled, strangulation, car, vehicle
strangled, strangulation, drowned, hanging, car
strangled, strangulation, fire, car
strangled, strangulation, garrote, car
strangled, strangulation, hanged
strangled, strangulation, hanged, truck
strangled, strangulation, hanging
strangled, strangulation, poison, poisoned, chloroform, beheaded, smothered
strangled, strangulation, run over, car
strangled, strangulation, suffocated, hanged
strangled, suffocated
strangled, suffocated, fire, car
strangled, tortured
strangled, truck
strangled, vehicle
strangulation
strangulation, car, vehicle
strangulation, drowning, car
strangulation, fire, burned
strangulation, hanged, tortured
strangulation, poisoned, incinerated
suffocated
suffocated, vehicle
tortured
truck
unknown
vehicle
vehicle, truck

In [134]:
#vamos a crear categorias para que así sea más legible el analisis posterior en tableau
def categorizar_weapon(valor):
    if pd.isna(valor):
        return "Unknown"
    valor = valor.lower()
    if any(p in valor for p in ["gun", "pistol", "revolver", "shotgun", "shooting", "shot"]):
        return "Firearm"
    elif any(p in valor for p in ["knife", "machete", "razor", "stabbed", "stabbing"]):
        return "Blade"
    elif any(p in valor for p in ["club", "bat", "hammer", "blunt object"]):
        return "Blunt Object"
    elif any(p in valor for p in ["strangled", "strangulation", "garrote", "choked", "smothered", "suffocated"]):
        return "Strangulation"
    elif any(p in valor for p in ["poison", "poisoned", "arsenic", "cyanide", "chemical", "chloroform"]):
        return "Poison"
    elif any(p in valor for p in ["car", "truck", "vehicle"]):
        return "Vehicle"
    elif any(p in valor for p in ["fire", "burned", "set on fire", "burnt", "explosives", "bomb", "grenade"]):
        return "Fire"
    elif any(p in valor for p in ["drowned", "drowning"]):
        return "Drowning"
    elif any(p in valor for p in ["beheaded", "decapitated"]):
        return "Beheading"
    elif any(p in valor for p in ["injected", "drugs", "medication"]):
        return "Drugs"
    elif any(p in valor for p in ["tortured", "beat to death", "incinerated", "disemboweled"]):
        return "Torture"
    elif any(p in valor for p in ["hanged", "hanging"]):
        return "Hanging"
    elif valor == "unknown":
        return "Unknown"
    else:
        return "Unknown" 


df_completo["Weapon_Category"] = df_completo["Weapon"].apply(categorizar_weapon)
print(df_completo["Weapon_Category"].value_counts())

Weapon_Category
Firearm          224
Blade            147
Strangulation    116
Unknown          101
Poison            47
Vehicle           38
Blunt Object      37
Hanging           23
Fire              11
Drowning           7
Drugs              5
Torture            5
Beheading          1
Name: count, dtype: int64

In [136]:
#Una vez tenemos el dataset limpio y completo de datos clave lo guardamos 
os.makedirs("Final-data", exist_ok=True)
output_path = "Final-data/final_final.csv"
df_completo.to_csv(output_path, index=False)
print(f"Archivo guardado correctamente en: {output_path}")

Archivo guardado correctamente en: Final-data/final_final.csv